html, body{font-family: Microsoft YaHei; background-color: #f5f5f5;}
ul{list-style: none; padding: 0;}
img{transition: 0.3s;}
a, a:hover{text-decoration: none !important; transition: 0.3s;}
@media (min-width: 1250px){
    .container {width: 1200px;}
}
.mt10{margin-top: 10px!important;}
.mt20{margin-top: 20px!important;}
.mt40{margin-top: 40px!important;}
@media (max-width: 768px) {
	.mt20{margin-top: 10px!important;}
	.mt40{margin-top: 20px!important;}
}
// absolute是避免在移动端ios下fixed不能固定的问题
.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}
.maintainer{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 170px;
	transition: 0.3s;
	@media (max-width: 992px) {padding-top: 235px;}
	@media (max-width: 767px) {padding-top: 103px;}
}
.btn-primary{
    background-color: $mainColor;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
// PC下的header为fixed
@media (min-width: 992px) {
	.header{position: fixed !important;}
	.maintainer{position: static;}
}