//主色
$mainColor: #3555da;

//主要字体颜色
$black: #333;

//媒体查询
$min-xs: 'min-width: 576px';
$min-sm: 'min-width: 768px';
$min-md: 'min-width: 992px';
$min-lg: 'min-width: 1200px';

$max-lg: 'max-width: 1199px';
$max-md: 'max-width: 991px';
$max-sm: 'max-width: 767px';
$max-xs: 'max-width: 575px';