@import "variable";
@import "layout";
@import "model";
@import "language_en";
@import "font-awesome.min.css";
@import "app/components/header";
@import "app/components/footer";
@import "app/components/tips";
// 登录、注册、重置密码
@import "app/login";
// 个人中心-收藏
@import "app/userCenter";
// v2个人中心
@import "app/v2userCenter";
// 个人资料
@import "app/myProfile";
// 关注
@import "app/follow";
// 综合
@import "app/home";
// 首页
@import "app/v2home";
// 项目
@import "app/project";
// 展示白皮书
@import "app/pdfShow";
// 榜单
@import "app/list";
// 关于我们、公司动态、战略合作、隐私政策、API
@import "app/foopage";
// v2关注
@import "app/myfollow";
.fish-popup-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
