#top_banner {
  .swiper-wrapper {
    .swiper-slide {
      height: 554px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .banner_div {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        img {
          height: 90px;
          position: relative;
          top: -12px;
        }
        span {
          color: #ffffff;
          font-size: 49px;
        }
        span.plus {
          padding-left: 44px;
          padding-right: 44px;
        }
        span.name {
          font-family: "黑体";
          letter-spacing: 8px;
        }
      }
    }
  }
}

.tool_bar {
  padding: 15px 0px 15px 0px;
  background-color: #fff;
  box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.2);
  .fish_container {
    .clearfix {
      .label_bar {
        float: left;
        width: 60%;
        padding-left: 10%;
        .news_box {
          position: absolute;
          padding-left: 122px;
          padding-top: 7px;
          #news_swiper {
            p {
              cursor: pointer;
              transition: color .3s;
              &:hover {
                color: $mainColor;
              }
            }
          }
          .news_title {
            position: absolute;
            top: 1px;
            left: 0px;
            color: #fff;
            padding: 7px 12px;
            background-color: $mainColor;
            span {
              font-size: 15px;
            }
            &:after {
              position: absolute;
              top: 0px;
              left: 84px;
              content: "";
              border-style: solid;
              border-width: 17px;
              border-color: transparent transparent transparent $mainColor;
            }
          }
          p {
            color: #999999;
            width: 100%;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0px;
          }
          #news_swiper {
            margin: 0;
            width: 80%;
            height: 25px;
          }
        }
        .follow_box {
          width: auto;
          position: relative;
          margin-top: 7px;
          .item_box {
            padding: 7px 15px;
            background-color: $mainColor;
            border-radius: 50px;
            color: #ffffff;
            margin-right: 5px;
          }
          .follow {
            outline: none;
            padding: 6px 15px;
            border-radius: 50px;
            color: #333333;
            border: 1px solid #333333;
            cursor: pointer;
            margin: 0px;
            background-color: transparent;
            transition: border, box-shadow .2s;
            i {
              margin-right: 15px;
            }
            &:hover {
              box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
              border-color: #999999;
            }
          }
          .followed {
            outline: none;
            padding: 6px 15px;
            border-radius: 50px;
            color: #ffffff;
            border: 1px solid $mainColor;
            cursor: pointer;
            margin: 0px;
            background-color: $mainColor;
            transition: border, box-shadow .2s;
            i {
              margin-right: 15px;
            }
          }
          .follow_btn {
            .follow {
              border: 2px solid #333;
              padding: 3px 15px;
              border-radius: 50px;
              cursor: pointer;
              i {
                margin-right: 15px;
              }
            }
          }
          .swiper-container {
            width: auto;
            .swiper-wrapper {
              width: auto;
              .swiper-slide {
                width: auto;
                > .clearfix {
                  margin-bottom: 0px;
                  display: flex;
                  > li {
                    padding-right: 20px;
                    .item_box {
                      cursor: pointer;
                      background-color: $mainColor;
                      color: #ffffff;
                      font-size: 14px;
                      padding: 5px 20px;
                      border-radius: 50px;
                    }
                  }
                }
              }
            }
          }
        }
        .label_box {
          position: relative;
          padding-right: 50px;
          > .clearfix {
            position: absolute;
            top: -15px;
            left: 0px;
            width: 100%;
            padding-right: 50px;
            background-color: #ffffff;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 0px;
            z-index: 2;
            height: 60px;
            overflow: hidden;
            transition: height .3s;
            &.open {
              height: auto;
              box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .2);
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
            > li {
              float: left;
              font-size: 14px;
              color: #333333;
              width: 16.66%;
              min-width: 70px;
              text-align: center;
              padding: 10px 0px;
              span {
                padding: 5px 0;
                cursor: pointer;
              }
              .active {
                background-color: $mainColor;
                padding: 5px 20px;
                color: #ffffff;
                border-radius: 50px;
              }
            }
          }
        }
        .all_btn {
          background-color: $mainColor;
          color: #ffffff;
          border: none;
          padding: 8px 0px;
          border-radius: 50px;
          font-size: 16px;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 111px;
        }
        .open_label {
          top: 13px;
          transform: rotate(180deg);
          position: absolute;
          right: 15px;
          width: 22px;
          cursor: pointer;
          z-index: 2;
        }
        .open_label.open {
          transform: rotate(0deg);
          position: absolute;
          right: 15px;
        }
      }
      .search_bar {
        float: right;
        width: 30%;
        position: relative;
        #keyword {
          width: 100%;
          height: 35px;
          padding-right: 35px;
          padding-left: 15px;
          background-color: #f5f5f5;
          border: 1px solid #cdcdcd;
        }
        .search-btn {
          position: absolute;
          width: 35px;
          height: 35px;
          right: 0px;
          top: 0px;
          text-align: center;
          cursor: pointer;

          i {
            color: #868585;
            font-size: 16px;
            line-height: 34px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding-top: 18px;
    .fish_container > .clearfix {
      .label_bar {
        width: 100%;
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        .label_box {
          top: 10px;
          margin-left: -15px;
          margin-right: -15px;
        }
        .all_btn {
          width: 70px;
          padding: 5px 0px;
        }
      }
      .search_bar {
        width: 100%;
      }
    }
  }
  @media (max-width: 500px) {
    padding-top: 18px;
    .fish_container .clearfix {
      .label_bar {
        width: 100%;
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        .label_box {
          > .clearfix {
            margin-bottom: 0px;
            > li {
              float: left;
              font-size: 14px;
              color: #333333;
              cursor: pointer;
              width: 70px;
              text-align: center;
            }
          }
        }

        .all_btn {
          width: 70px;
          padding: 5px 0px;
        }
      }
      .search_bar {
        width: 100%;
      }
    }
  }
}

.follow_content {
  margin-top: 47px;
  .clearfix {
    > .left {
      float: left;
      width: 8%;
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      .menu_box {
        li {
          text-align: left;
          padding-left: 8px;
          padding-top: 2px;
          padding-bottom: 2px;
          font-size: 16px;
          color: rgba(125, 125, 125, 1);
          margin-top: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          &.active {
            color: #1355b3;
            border-left: 2px solid #1355b3;
          }
          &.loadMoreClassfy {
            text-align: center;
            padding-right: 8px;
            span {
              display: inline-block;
              width: 5px;
              height: 5px;
              background-color: $mainColor;
              border-radius: 50%;
            }
          }
        }
      }
    }
    > .center {
      float: left;
      width: 62%;
      padding-left: 23px;
      padding-right: 23px;
      .follow_list {
        margin-top: 20px;
        ul {
          > li {
            .list-item {
              .medialist {
                .media {
                  .media-heading {
                    font-size: 20px;
                    max-height: 23px;
                    width: 100%;
                    margin-bottom: 8px;
                  }
                  .media-words {
                    font-size: 14px;
                    max-height: 47px;
                    &.TorW {
                      -webkit-line-clamp: 3;
                      cursor: pointer;
                      transition: color .3s;
                      &:hover {
                        color: $mainColor;
                      }
                    }
                  }
                  border-radius: 6px;
                  .media-left {
                    border-radius: 20px;
                    min-width: 116px;
                    height: 116px;
                    .newimg_box {
                      height: 100%;
                      width: 100%;
                      background-color: #797979;
                      position: relative;
                      cursor: pointer;
                      &.TorW {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        img {
                          width: 65px;
                          height: auto;
                          object-fit: contain;
                          filter: blur(0px);
                          margin-bottom: -25px;
                        }
                        span {
                          font-size: 13px;
                          color: #ffffff;
                        }
                      }
                      img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        filter: blur(1px);
                      }
                      .date_box {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 11;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding-top: 15px;
                        .day {
                          display: block;
                          font-size: 40px;
                          color: #ffffff;
                        }
                        .years {
                          display: block;
                          color: #ffffff;
                        }
                      }
                    }
                  }
                  .media-bottom {
                    .userimg {
                      width: 25px;
                      height: 25px;
                      padding: 0px;
                    }
                    ul {
                      > li {
                        cursor: pointer;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .adv_box {
        height: 130px;
        position: relative;
        padding-right: 100px;
        #adv_banner {
          height: 100%;
          .swiper-wrapper {
            .swiper-slide {
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
        .adv_infor {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 100px;
          height: 130px;
          padding-left: 11px;
          padding-right: 11px;
          background-color: #fff;
          h4 {
            color: RGBA(235, 89, 31, 1);
            font-size: 16px;
            padding-top: 20px;
          }
          button {
            padding-top: 6px;
            padding-bottom: 6px;
            margin-top: 20px;
            border: 1px solid RGBA(153, 153, 153, 1);
            width: 100%;
            color: RGBA(153, 153, 153, 1);
            font-size: 11px;
            background-color: transparent;
          }
        }
      }
      .loading_more {
        button {
          background-color: #ffffff;
          width: 100%;
          border: none;
          border-radius: 6px;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: 20px;
          img {
            width: 50px;
          }
        }
      }
    }
    > .right {
      float: left;
      width: 30%;
      .link_box {
        display: flex;
        margin-bottom: 20px;
        margin-right: -5px;
        .item {
          margin-right: 5px;
          background-color: $mainColor;
          color: #ffffff;
          text-align: center;
          width: 20%;
          padding-top: 35px;
          padding-bottom: 23px;
          cursor: pointer;
          transition: box-shadow .3s;
          &:hover {
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .2);
          }
          i {
            font-size: 30px;
            margin-bottom: 15px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      .right_item {
        background-color: #ffffff;
        padding: 8px 15px;
        &.margin_top {
          margin-top: 20px;
        }
        .hot_title {
          display: flex;
          flex-direction: row;
          position: relative;
          .title_icon {
            width: 40px;
            height: 40px;
            border: 1px solid #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 25px;
              height: 25px;
            }
          }
          h4 {
            padding-top: 2px;
            font-size: 18px;
            padding-left: 15px;
            .vertical {
              padding-left: 5px;
              padding-right: 5px;
              position: relative;
              top: -2px;
            }
            .tab {
              cursor: pointer;
            }
            .active {
              color: $mainColor;
            }
          }
          .look_more {
            position: absolute;
            top: 12px;
            right: 0px;
            font-size: 12px;
            color: #333333;
            cursor: pointer;
          }
        }
        .hot_content {
          & > ul {
            height: 457px;
            overflow-y: auto;
            &.long_ul {
              height: auto;
            }
            &::-webkit-scrollbar {
              display: none
            }
            &.scoll_style {
              height: 457px;
              overflow-y: auto;
              &::-webkit-scrollbar {
                display: none
              }
            }
            & > li {
              padding-top: 20px;
              padding-bottom: 5px;
              &.news_flash:first-child {
                padding-top: 20px;
              }
              &.news_flash {
                padding-top: 0px;
                padding-bottom: 0px;
              }
              &:last-child .news_item:before {
                height: 100%;
              }
              .news_item {
                position: relative;
                padding-left: 25px;
                &.nolink:before {
                  content: none
                }
                &:before {
                  position: absolute;
                  content: "";
                  top: 0px;
                  left: 9px;
                  width: 2px;
                  height: 110%;
                  background-color: #cfcfcf;
                }
                .radio_box {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #cfcfcf;
                  background-color: #fff;
                  padding: 2px;
                  border-radius: 20px;
                  .radio_circle {
                    width: 100%;
                    height: 100%;
                    background-color: #cfcfcf;
                    border-radius: 20px;
                    &.first {
                      background-color: $mainColor;
                    }
                  }
                }
                .item_time {
                  font-size: 12px;
                  color: #999999;
                  padding-top: 2px;
                }
                > .item_body {
                  &.hasImg {
                    position: relative;
                    padding-right: 105px;
                    .content_img {
                      position: absolute;
                      top: 0px;
                      right: 0px;
                      width: 95px;
                      height: 95px;
                      display: flex;
                      overflow: hidden;
                      justify-self: center;
                      align-items: center;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    .content {
                      > h4 {
                        font-size: 16px;
                        color: #333;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        transition: color .3s;
                        height: 43px;
                        line-height: 1.4;
                        cursor: pointer;
                        &:hover {
                          color: $mainColor;
                        }
                      }
                      > p {
                        height: 50px;
                        font-size: 12px;
                        color: #999999;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                      }
                    }
                  }
                  min-height: 110px;
                  > h4 {
                    font-size: 16px;
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    transition: color .3s;
                    &:hover {
                      color: $mainColor;
                    }
                  }
                  > p {
                    height: 33px;
                    font-size: 12px;
                    color: #999999;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                }
              }
            }
          }

          .item_bottom {
            text-align: right;
            font-size: 12px;
            color: #999999;
          }
          .list_item {
            display: flex;
            flex-direction: row;
            position: relative;
            .item_left {
              width: 81px;
              flex: 0 0 81px;
              &.tweet {
                width: 81px;
                height: 81px;
                border-radius: 10px;
                background-color: #797979;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                img {
                  width: 35px;
                  margin-bottom: -15px;
                  object-fit: contain;
                  height: auto;
                }
                span {
                  color: #ffffff;
                  font-size: 13px;
                }
              }
              img {
                width: 100%;
                object-fit: cover;
                height: 100%;
              }
            }
            .item_body {
              padding-left: 10px;
              width: calc(100% - 81px);
              &.noPicture {
                width: 100%;
                p {
                  padding-left: 15px;
                }
              }
              .body_bottom {
                position: relative;
                font-size: 12px;
                color: #666666;
                p {
                  margin-bottom: 0px;
                }
                .time {
                  position: absolute;
                  right: 0px;
                  top: 0px;
                  color: #999999;
                }
              }
              h4 {
                font-size: 18px;
                color: #333333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                transition: .3s;
                line-height: 1.2;
                max-height: 21px;
                &:hover {
                  color: $mainColor;
                }
              }
              > p {
                font-size: 12px;
                color: #333333;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-height: 33px;
                &.tweet {
                  min-height: 54px;
                  -webkit-line-clamp: 3;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

    }
    @media (max-width: 768px) {
      .left {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        .menu_box {
          white-space: nowrap;
          overflow-x: auto;
          display: flex;
          overflow-y: hidden;
          margin-bottom: 0px;
          > li {
            padding-left: 25px;
            padding-right: 25px;
            &.active {
              border-left: 0px;
              position: relative;
            }
            &.active:after {
              position: absolute;
              content: "";
              width: 70%;
              height: 2px;
              background-color: #1355b3;
              left: 15%;
              bottom: -8px;
            }
          }
        }
      }
      .center {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        .adv_box {
          padding-right: 0px;
          height: auto;
          #adv_banner {
            height: 130px;
          }
          .adv_infor {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
            right: auto;
            height: auto;
            h4 {
              margin-top: 0px;
              padding-top: 5px;
            }
            button {
              margin-top: 0px;
            }
          }
        }
      }
      .right {
        width: 100%;
      }
    }
  }
}

#list_page {
  .list_container {
    max-width: none;
    .clearfix {
      .center {
        .listBox {
          background-color: #fff;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 20px;
          .listBox_top {
            padding: 10px 0;
            position: relative;
            .list_title {
              font-size: 20px;
              border-left: 2px solid #333;
              padding-left: 10px;
            }
            .tabBtn {
              position: absolute;
              right: 0px;
              top: 15px;
              .btnStyle {
                border: 1px solid #c3c3c3;
                background-color: transparent;
                padding: 3px 15px;
                font-size: 18px;
                color: #969696;
                outline: none;
                border-radius: 5px;
                margin-left: 10px;
                transition: all .3s;
                &:hover {
                  background-color: #ececec;
                }
                &:focus {
                  outline: none;
                }
                &.active {
                  background-color: $mainColor;
                  color: #fff;
                  border-color: $mainColor;
                }
              }
            }
          }
          .listBox_content {
            table {
              text-align: center;
              th {
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .tr_default {
                td:first-child {
                  span {
                    background-color: #aeaeae;
                    color: #fff;
                    display: block;
                    padding: 1px 3px;
                    text-align: center;
                  }
                }
                td.tr_first {
                  color: $mainColor;
                  span {
                    background-color: $mainColor;
                    color: #fff;
                    display: block;
                    padding: 1px 3px;
                    text-align: center;
                  }
                }
                td.tr_second {
                  //color: $mainColor;
                  span {
                    background-color: #00b7bc;
                    color: #fff;
                    display: block;
                    padding: 1px 3px;
                    text-align: center;
                  }
                }
                td.tr_third {
                  //color: $mainColor;
                  span {
                    background-color: #3cdb84;
                    color: #fff;
                    display: block;
                    padding: 1px 3px;
                    text-align: center;
                  }
                }
              }
            }
            .relaodMore {
              background-color: transparent;
              border: 1px solid #c1c1c1;
              width: 100%;
              padding: 5px 0;
              border-radius: 5px;
              img {
                width: 45px;
              }
            }
          }
        }
      }
      .right {
        #list_page_adv {
          margin-top: 0px;
          height: 320px;
        }
        .letf_list_up {
          margin-top: 20px;
          background-color: #fff;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
          padding: 0 15px 5px 15px;
          position: relative;
          .listBox_top {
            padding: 10px 0;
            position: relative;
            .list_title {
              font-size: 20px;
              border-left: 2px solid #333;
              padding-left: 10px;
            }
            .tabBtn {
              position: absolute;
              right: 0px;
              top: 15px;
              .btnStyle {
                border: 1px solid #c3c3c3;
                background-color: transparent;
                padding: 3px 15px;
                font-size: 18px;
                color: #969696;
                outline: none;
                border-radius: 5px;
                margin-left: 10px;
                transition: all .3s;
                &:hover {
                  background-color: #ececec;
                }
                &:focus {
                  outline: none;
                }
                &.active {
                  background-color: $mainColor;
                  color: #fff;
                  border-color: $mainColor;
                }
              }
            }
          }
          table {
            text-align: center;
            th {
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .tr_default {
              //color: $mainColor;
              td:first-child {
                span {
                  background-color: #aeaeae;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td:nth-child(2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              td:last-child {
                color: #00bb29;
              }
              td.tr_first {
                span {
                  background-color: $mainColor;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td.tr_second {
                span {
                  background-color: #00b7bc;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td.tr_third {
                span {
                  background-color: #3cdb84;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
            }
          }
        }
        .letf_list_down {
          margin-top: 20px;
          background-color: #fff;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
          padding: 0 15px 10px 15px;
          position: relative;
          .listBox_top {
            padding: 10px 0;
            position: relative;
            .list_title {
              font-size: 20px;
              border-left: 2px solid #333;
              padding-left: 10px;
            }
            .tabBtn {
              position: absolute;
              right: 0px;
              top: 15px;
              .btnStyle {
                border: 1px solid #c3c3c3;
                background-color: transparent;
                padding: 3px 15px;
                font-size: 18px;
                color: #969696;
                outline: none;
                border-radius: 5px;
                margin-left: 10px;
                transition: all .3s;
                &:hover {
                  background-color: #ececec;
                }
                &:focus {
                  outline: none;
                }
                &.active {
                  background-color: $mainColor;
                  color: #fff;
                  border-color: $mainColor;
                }
              }
            }
          }
          table {
            text-align: center;
            th {
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .tr_default {
              //color: $mainColor;
              td:first-child {
                span {
                  background-color: #aeaeae;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td:nth-child(2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              td:last-child {
                color: #bb2100;
              }
              td.tr_first {
                span {
                  background-color: $mainColor;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td.tr_second {
                span {
                  background-color: #00b7bc;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
              td.tr_third {
                span {
                  background-color: #3cdb84;
                  color: #fff;
                  display: block;
                  padding: 1px 3px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left .newimg_box.TorW span {
    display: none
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left .newimg_box.TorW img {
    margin-bottom: 0px;
    width: 40px;
  }
  .follow_content .clearfix > .right .right_item .hot_content .list_item .item_left.tweet span {
    display: none;
  }
  .follow_content .clearfix > .right .right_item .hot_content .list_item .item_left {
    flex: 0 0 81px !important;
  }
  .follow_content .clearfix > .right .right_item .hot_content .list_item .item_left img {
    margin-bottom: 0px !important;
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left {
    border-radius: 10px;
  }
}

.follow_content#article {
  margin-top: 20px;
  .fish_container {
    .row {
      .span6 {
        .breadcrumb {
          margin-bottom: 10px;
        }
      }
    }
    .clearfix {
      .center {
        padding-left: 0px;
        width: 70%;
        margin-bottom: 20px;
        .article_box {
          background-color: #ffffff;
          padding: 10px 42px;
          .article_title {
            h4 {
              line-height: 1.3;
              font-size: 28px;
              color: #333333;
            }
          }
          .article_tool {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > .article_left {
              padding: 0px;
              color: #999999;
              font-size: 16px;
              span {
                display: inline-block;
              }
              .user_name {
                cursor: pointer;
              }
              .user_name, .publish_data {
                padding-right: 15px;
              }
            }
            > .article_right {
              position: relative;
              text-align: right;
              color: #999999;
              font-size: 16px;
              span {
                display: inline-block;
              }
              .look, .look_count, .share {
                padding-right: 15px;
              }
              .share, .follow {
                cursor: pointer;
              }
              .look_count {
                i {
                  color: #333;
                  margin-right: 5px;
                }
              }
              .share {
                color: #14d214;
              }
              .follow {
                i {
                  color: #ccc;
                }
                i.followed {
                  color: #ff0000;
                }
              }
            }
          }
          .label_box {
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;
            .label_item {
              border: 1px solid #999999;
              color: #999999;
              padding: 2px 12px;
              border-radius: 20px;
              margin-top: 5px;
              margin-right: 10px;
              font-size: 10px;
              cursor: pointer;
              transition: all .3s;
              &:hover {
                border-color: $mainColor;
                color: $mainColor;
              }
            }
          }
          .article_content {
            padding-top: 30px;
            text-align: center;
            padding-bottom: 50px;
            p {
              text-indent: 29px;
              text-align: left;
              font-size: 16px;
              line-height: 2;
              margin-bottom: 20px;
              color: #666666;
            }
            img {
              max-width: 100%;
              margin-bottom: 20px;
            }
          }
          .article_original {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 80px;
            border-top: 1px solid #f5f5f5;
            > .title {
              font-size: 16px;
              color: #999999;
            }
            > .original {
              h4 {
                font-family: "Arial Black";
                font-size: 22px;
                line-height: 1.4;
              }
              P {
                font-family: "Arial Regular";
                font-size: 18px;
                line-height: 1.5;
              }
            }
          }
          .article_statement {
            font-size: 14px;
            color: #999999;
          }
        }
      }
      .right {
        .author_infor {
          background-color: #ffffff;
          padding-top: 18px;
          padding-bottom: 18px;
          padding-left: 15px;
          padding-right: 15px;
          .author_box {
            display: flex;
            padding-top: 18px;
            padding-bottom: 18px;
            .author_left {
              flex: 0 0 80px;
              padding-left: 15px;
              padding-right: 15px;
              img {
                width: 100%;
              }
            }
            .author_right {
              h4 {
                color: #333333;
                font-size: 17px;
                margin-top: 0px;
                cursor: pointer;
              }
              .follow_btn {
                padding: 5px 10px;
                border: 1px solid $mainColor;
                color: $mainColor;
                background-color: #ffffff;
                border-radius: 5px;
                position: relative;
                outline: none;
                .arrow {
                  position: absolute;
                  top: 7px;
                  left: -14px;
                  border-style: solid;
                  border-width: 7px;
                  border-color: transparent $mainColor transparent transparent;
                  &:after {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: -6px;
                    border-style: solid;
                    border-width: 7px;
                    border-color: transparent #ffffff transparent transparent;
                  }
                }
                img {
                  margin-right: 10px;
                }
              }
              .followed_btn {
                outline: none;
                padding: 5px 10px;
                border: 1px solid #999999;
                background-color: #ffffff;
                color: #999999;
                border-radius: 5px;
                position: relative;
                img {
                  margin-right: 10px;
                }
                .arrow {
                  position: absolute;
                  top: 7px;
                  left: -14px;
                  border-style: solid;
                  border-width: 7px;
                  border-color: transparent #999999 transparent transparent;
                  &:after {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: -6px;
                    border-style: solid;
                    border-width: 7px;
                    border-color: transparent #ffffff transparent transparent;
                  }
                }
              }
            }
          }
          .author_news {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 2px solid #cfcfcf;
            .news_ul {
              .news_li {
                position: relative;
                padding-left: 18px;
                margin-top: 10px;
                margin-bottom: 20px;
                &:after {
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: 0px;
                  width: 10px;
                  height: 10px;
                  background-color: #999999;
                }
                p {
                  font-size: 14px;
                  color: #999999;
                  margin-bottom: 0px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  max-height: 40px;
                  cursor: pointer;
                  transition: color .3s;
                  &:hover {
                    color: $mainColor;
                  }
                  &.time {
                    font-size: 10px;
                    text-align: right;
                  }
                }
              }
            }
          }
        }
        .adv_swiper {
          margin-top: 20px;
          height: 247px;
          #right_swiper {
            height: 100%;
            .swiper-wrapper {
              .swiper-slide {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
            }
            .swiper-button-prev {
              background-image: url("../assets/follow/prev.png");
              background-size: 45px;
              left: 0px;
              &.swiper-button-disabled {
                opacity: 1;
                background-image: url("../assets/follow/prev_o.png");
              }
            }
            .swiper-button-next {
              background-image: url("../assets/follow/next.png");
              background-size: 45px;
              right: 0px;
              &.swiper-button-disabled {
                opacity: 1;
                background-image: url("../assets/follow/next_o.png");
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .fish_container {
      .row {
        .span6 {
          .breadcrumb {
            margin-bottom: 10px;
          }
        }
      }
      .clearfix {
        .center {
          padding-left: 0px;
          width: 100%;
          .article_box {
            background-color: #ffffff;
            padding: 10px 15px;
            .article_title {
              h4 {
                line-height: 1.3;
                font-size: 28px;
                color: #333333;
              }
            }
          }
        }
      }
    }
  }
}

.fish_container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

#popover91482 {
  .popover-content {
    > ul {
      display: flex;
      margin-bottom: 0px;
      > li {
        margin-right: 10px;
        height: 40px;
        flex: 0 0 40px;
        padding: 8px;
        i {
          font-size: 20px;
        }
        &.wechat {
          color: #00bb29;

          border-radius: 50px;
          border: 1px solid #e4e4e4;
        }
        &.weibo {
          color: #e05244;
          border-radius: 50px;
          border: 1px solid #e4e4e4;
        }
        &.qq {
          color: #498ad5;
          border-radius: 50px;
          border: 1px solid #e4e4e4;
        }
        &.more {
          flex: 0 0 80px;
          text-align: center;
          color: #bdbdbd;
          line-height: 1.6;
          border-radius: 50px;
          border: 1px solid #e4e4e4;
          margin-right: 0px
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #top_banner .swiper-wrapper .swiper-slide {
    height: 365px;
    .banner_div {
      .show_box {
        text-align: center;
      }
      text-align: center;
      img {

      }
      span {
        width: 100%;
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-heading {
    font-size: 16px;
    height: auto;
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-words {
    font-size: 13px;
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left {
    min-width: 70px;
    height: 70px;
    margin-right: 15px;
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left .newimg_box .date_box .day {
    font-size: 20px;
  }
  .follow_content .clearfix > .center .follow_list ul > li .list-item .medialist .media .media-left .newimg_box .date_box .year {
    font-size: 12px;
  }
  .follow_content .clearfix > .right .right_item .hot_content .list_item .item_body h4 {
    font-size: 16px;
    height: 18px;
    margin: 0 0 8px;
  }
  .follow_content .clearfix > .right .right_item .hot_content .list_item .item_left {
    flex: 0 0 70px;
    height: 70px;
  }
  .follow_content .clearfix > .right .right_item .hot_title h4 {
    font-size: 16px;
  }
  .follow_content .clearfix > .right .right_item .hot_title h4 .vertical {
    top: 0;
  }
}
