.v2list{
	#list-banner-swiper{
		height: 340px;
		@media ($max-xs) {
			height: 286px;
		}
		.swiper-slide{
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.swiper-pagination{
			bottom: 50px;
		}
		.swiper-button-next{
			right: 40px;
			@media ($max-sm) {
				right: 15px;
			}
		}
		.swiper-button-prev{
			left: 40px;
			@media ($max-sm) {
				left: 15px;
			}
		}
		.swiper-button-next, .swiper-button-prev{
			@media ($max-xs) {
				display: none;
			}
		}
		.swiper-pagination-bullet{
			background: #babfc6;
			margin: 0 5px;
			&-active{
				background: #fff;
			}
		}
	}
	.list-container{
		margin: -40px 0 60px;
		position: relative;
		z-index: 1;
		@media ($max-xs) {
			margin: -40px 0 15px;
		}
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		>.left{
			float: left;
			width: 71%;
			padding: 0 18px 0 0;
			@media ($max-sm) {
				float: none;
				padding: 0;
				width: 100%;
			}
			.main-table{
				background: #fff;
				border-radius: 5px;
				padding: 15px 0 0;
				@media ($max-sm) {
					margin: 0 0 16px;
					padding: 8px 0 0;
				}
				.list-tab{
					width: 100%;
					height: 50px;
					display: flex;
					background: #f4f7f8;
					@media ($max-xs) {
						height: 40px;
						justify-content: center;
					}
					.tabtn{
						display: flex;
						align-items: center;
						margin: 0 30px 0 0;
						padding: 0 46px;
						font-size: 16px;
						color: #1a1a1a;
						font-weight: bold;
						background: transparent;
						cursor: pointer;
						@media ($min-sm) {
							&:hover{
								color: $mainColor;
							}
						}
						@media ($max-xs) {
							font-size: 14px;
							padding: 0 20px;
							margin: 0;
							border-bottom: 2px solid transparent;
						}
						&:last-child{
							margin: 0;
						}
						&.on{
							color: #fff;
							background: $mainColor;
							@media ($max-xs) {
								border-bottom: 2px solid $mainColor;
								background: transparent;
								color: $mainColor;
							}
						}
					}
				}
				.table-filter{
					width: 100%;
					height: 70px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 15px;
					@media ($max-xs) {
					}
					.layui-form:not(.month-week){
						width: 220px;
						display: flex;
						@media ($max-xs) {
							width: auto;
						}
						.layui-form-select{
							flex: 1;
							margin: 0 15px 0 0;
							.layui-input{
								background: #e5a34d;
								border: 0;
								color: #fff;
								&::-webkit-input-placeholder{color: #fff;}
								&::-moz-placeholder{color: #fff;}
								&:-moz-placeholder{color: #fff;}
								&:-ms-input-placeholder{color: #fff;}
							}
							dl dd.layui-this{
								background-color: #e5a34d;
							}
							.layui-edge{
								border-top-color: #fff;
							}
							&:last-child{
								margin: 0;
								@media ($max-xs) {
									margin: 0 15px 0 0;
								}
								.layui-input{
									background: #5684d0;
								}
								dl dd.layui-this{
									background-color: #5684d0;
								}
							}
						}
					}
					.layui-form.month-week{
						display: none;
						@media ($max-xs) {
							display: block;
						}
						.layui-form-select{
							flex: 1;
							margin: 0 15px 0 0;
							.layui-input{
								background: $mainColor;
								border: 0;
								color: #fff;
								&::-webkit-input-placeholder{color: #fff;}
								&::-moz-placeholder{color: #fff;}
								&:-moz-placeholder{color: #fff;}
								&:-ms-input-placeholder{color: #fff;}
							}
							dl dd.layui-this{
								background-color: $mainColor;
							}
							.layui-edge{
								border-top-color: #fff;
							}
						}
					}
					.weekmonth-group{
						display: flex;
						@media ($max-xs) {
							display: none;
						}
						.wmbtn{
							font-size: 14px;
							background: #ccc;
							color: #fff;
							margin: 0 15px 0 0;
							padding: 4px 18px;
							cursor: pointer;
							&.on{
								background: $mainColor;
							}
							&:last-child{
								margin: 0;
							}
						}
					}
				}
			}
		}
		>.right{
			float: left;
			width: 29%;
			@media ($max-sm) {
				float: none;
				width: 100%;
			}
			.table-header{
				width: 100%;
				height: 40px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 0 15px;
				padding: 0 15px;
				@media ($max-sm) {
					margin: 0;
				}
				.tl{
					position: relative;
					font-size: 18px;
					color: #111;
					font-weight: bold;
					padding: 0 0 0 8px;
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 3px;
						height: 23px;
						background: $mainColor;
					}
				}
				.tr{
					font-size: 13px;
					color: #111;
				}
			}
			.rise-table{
				background: #fff;
				border-radius: 5px;
				padding: 15px 0 0;
				margin: 0 0 16px;
			}
			.fall-table{
				background: #fff;
				border-radius: 5px;
				padding: 15px 0 0;
			}
		}
		.table-box{
			position: relative;
			.table-loading{
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 30px 0;
				&:after{
					content: "";
					position: absolute;
					z-index: 102;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(255, 255, 255, .5);
				}
				img{
					position: relative;
					z-index: 103;
					width: 60px;
				}
			}
			.loadmore{
				font-size: 18px;
				color: #1a1a1a;
				text-align: center;
				cursor: pointer;
				padding: 20px 0 30px;
				transition: .3s;
				display: flex;
				justify-content: center;
				align-items: center;
				.moreimg{
					display: block;
					margin: 0 0 0 8px;
					width: 16px;
					height: 9px;
					overflow: hidden;
					background: url(../assets/moredown.png) 0 -11px / 100% no-repeat;
				}
				&:hover{
					color: $mainColor;
					.moreimg{
						transition: .3s;
						background: url(../assets/moredown.png) 0 0 / 100% no-repeat;
					}
				}
			}
			&.main-table-box{
				.layui-table-box{
					.layui-table-fixed-l{
						@media ($max-xs) {
							box-shadow: 0 -1px 8px rgba(0,0,0,.08);
						}
						.layui-table-header{
							@media ($max-xs) {
								box-shadow: 0 0 10px 2px #e1ecf1;
							}
						}
					}
				}
			}
		}
	}
}
.layui-table-view{
	margin: 0;
	color: #1a1a1a;
	border: 0;
	.layui-table-box{
		.layui-table-fixed-l{
			box-shadow: none;
			.layui-table-header{
				box-shadow: none;
			}
		}
		.layui-table-header{
			border: 0;
		}
		.layui-table th{
			background: #f4f7f8;
			color: #96a2b3;
			font-weight: bold;
			.layui-table-cell{
				height: 20px;
				line-height: 20px;
				padding: 0;
				text-align: center;
			}
		}
		.layui-table td, .layui-table th{
			padding: 10px 0;
		}
		.layui-table tr td:first-child{
			padding: 0;
		}
		.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even){
			background-color: #ffffff;
			box-shadow: 0 0 10px 2px #e1ecf1;
			@media ($max-xs) {
				box-shadow: none;
			}
		}
		.layui-table-body{
			margin: 0;
			.layui-table-cell{
				padding: 0;
				text-align: center;
				height: auto;
				line-height: inherit;
			}
		}
		.layui-table-sort{
			margin: 0;
		}
		.layui-table-sort .layui-table-sort-asc:hover{
			border-bottom-color: #7593ff;
		}
		.layui-table-sort .layui-table-sort-desc:hover{
			border-top-color: #7593ff;
		}
		.layui-table-sort[lay-sort=asc] .layui-table-sort-asc{
			border-bottom-color: $mainColor;
		}
		.layui-table-sort[lay-sort=desc] .layui-table-sort-desc{
			border-top-color: $mainColor;
		}
	}
}
.layui-table-tips-c{
	padding: 0;
}
.layui-table-page{
	display: none;
}
.list-project-flexbox{
	display: flex;
	align-items: center;
	.left{
		position: relative;
		flex: 0 0 36px;
		min-width: 36px;
		height: 36px;
		margin: 0 8px 0 0;
		.img-box{
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			border: 1px solid #f8f8f8;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.crown{
			position: absolute;
			z-index: 1;
			right: -3px;
			top: 0;
		}
	}
	.info{
		overflow: hidden;
		p{
			margin: 0;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.tit{
			a{
				color: #1a1a1a;
				font-size: 14px;
				font-weight: bold;
				transition: .3s;
				&:hover{
					color: $mainColor;
				}
			}
		}
		.des{
			font-size: 12px;
			color: #212121;
		}
	}
}
.list-updown{
	img{
		margin: 0 0 0 3px;
	}
}
.list-ranking{
	img{
		width: 25px;
	}
}