#login {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  .main {
    padding-top: 8%;
    flex: 1 0 auto;
  }
  .login_footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 0;
  }
  .loginbox {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
    .hd {
      position: relative;
      padding: 30px 0 15px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      margin-bottom: 30px;
      .back-btn {
        font-size: 30px;
        color: #999;
        position: absolute;
        left: 0;
        cursor: pointer;
      }
      li {
        display: inline-block;
        margin: 0 60px;
        position: relative;
        font-size: 20px;
        color: $black;
        cursor: pointer;
        &.active {
          color: $mainColor;
        }
        &:after {
          content: "";
          width: 1px;
          height: 20px;
          position: absolute;
          background: #666;
          top: 5px;
          margin-left: 60px;
        }
        &:last-child:after {
          background: transparent;
        }
      }
    }
  }
  .left {
    padding-top: 9%;
    color: #fff;
    p {
      margin: 0
    }
    .p1 {
      font-size: 46px;
    }
    .p2 {
      font-size: 56px;
      a {
        color: #FFFFFF;
        transition: color .3s;
        &:hover {
          color: $mainColor;
        }
      }
    }
    .p3 {
      font-size: 38px;
    }
  }
  .inputInner {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 25px;
    .input-group {
      width: 100%;
      margin-bottom: 27px;
      .help-block {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 12px;
        color: #ff3b30;
        margin: 5px 0 0;
        img {
          vertical-align: middle;
          transform: translateY(-1px);
        }
      }
      .ok-btn {
        width: 100%;
        height: 47px;
        line-height: 47px;
        text-align: center;
        color: #fff;
        padding: 0;
        border: 0;
        font-size: 18px;
        outline: none;
        border-radius: 0;
        background: $mainColor;
      }
    }
    .input-group-addon {
      width: 45px;
      padding: 0;
      border-radius: 0;
      background: transparent;
    }
    input.form-control {
      font-family: Microsoft YaHei;
      font-size: 16px;
      height: 47px;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #ccc;
      border-left: 0;
      padding-left: 0;
      -webkit-appearance: none;
    }
    .submit-group {
      margin-bottom: 12px;
    }
    .other-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      .remember {
        font-size: 14px;
        color: #888;
        font-weight: normal;
        margin: 0;
        input {
          margin: 0;
          vertical-align: middle;
          transform: translateY(-1px);
        }
      }
      span {
        font-size: 14px;
        color: #888;
        font-weight: normal;
        cursor: pointer;
      }
    }
    .other-login {
      width: 100%;
      text-align: center;
      position: relative;
      .head {
        position: relative;
        z-index: 1;
        font-size: 12px;
        color: #a8a8a8;
        background: #fff;
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #a8a8a8;
      }
      ul {
        display: flex;
        justify-content: space-around;
        li {
          cursor: pointer;
          p {
            margin-top: 6px;
            font-size: 14px;
          }
        }
      }
    }
    .code {
      position: relative;
      margin-bottom: 40px;
      input {
        font-family: Microsoft YaHei;
        border: 1px solid #ccc;
        width: 100%;
        height: 47px;
        font-size: 16px;
        padding-left: 14px;
        outline: none;
      }
      .code-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 47px;
        font-size: 16px;
        color: $mainColor;
        width: 115px;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        &:disabled {
          cursor: default;
          opacity: .5;
        }
        img {
          height: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          width: 1px;
          height: 30px;
          background: #999;
        }
      }
    }
    .register-tips {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #666666;
      line-height: 1.5;
      span {
        color: $mainColor;
      }
    }
  }
  @media (max-width: 1600px) {
    overflow: auto;
    .main {
      padding-top: 5%;
    }
  }
  @media (max-width: 1200px) {
    background-size: auto 100%;
    overflow: auto;
  }
  @media (max-width: 992px) {
    .left {
      text-align: center;
      padding: 0;
      p {
        font-size: 35px !important;
        margin-bottom: 25px;
      }
      .p1, .p2 {
        display: inline-block;
      }
      .p3 {
        display: none;
      }
    }
  }
  @media (max-width: 425px) {
    .inputInner {
      width: 100%;
    }
    .loginbox .hd li {
      margin: 0 35px;
    }
    .loginbox .hd li:after {
      margin-left: 37px;
    }
    .left p {
      font-size: 25px !important;
    }
    .loginbox .hd {
      padding: 25px 0 10px;
    }
  }
}

.login_fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .login_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
  }
}

.login_fixed {
  .loginbox {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    .close_box {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 99;
      .icon_close {
        display: block;
        background-image: url("../assets/login/close.png");
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80% 80%;
        border: 2px solid $mainColor;
        width: 40px;
        height: 40px;
        transition: .3s;
        cursor: pointer;
      }
      &:hover {
        .icon_close {
          background-image: url("../assets/login/close_h.png");
          border: 2px solid #ff4a4f;
          background-color: #ff4a4f;
        }
      }
    }
    .hd {
      position: relative;
      padding: 30px 0 15px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      margin-bottom: 30px;
      .back-btn {
        font-size: 30px;
        color: #999;
        position: absolute;
        left: 0;
        cursor: pointer;
      }
      li {
        display: inline-block;
        margin: 0 60px;
        position: relative;
        font-size: 20px;
        color: $black;
        cursor: pointer;
        &.active {
          color: $mainColor;
        }
        &:after {
          content: "";
          width: 1px;
          height: 20px;
          position: absolute;
          background: #666;
          top: 5px;
          margin-left: 60px;
        }
        &:last-child:after {
          background: transparent;
        }
      }
    }
    .whitePaperTitle {
      margin: 0;
      p {
        font-size: 20px;
        color: #333;
      }
    }
    .uploadtips {
      margin: 0;
    }
    .uploadWhitePaper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 30px;
      .filename {
        flex: 1;
        height: 30px;
        margin: 0 10px 0 0;
        input {
          width: 100%;
          height: 100%;
          border: 1px solid #ddd;
          background: #fafafa;
        }
      }
      .rightBtn {
        flex: 0 0 180px;
        min-width: 180px;
        display: flex;
        justify-content: space-around;
      }
      .chooseFile {
        flex: 0 0 80px;
        min-width: 80px;
        border: 0;
        height: 30px;
        position: relative;
        cursor: pointer;
        input {
          opacity: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          cursor: pointer;
        }
        button {
          border-radius: 5px;
          background: $mainColor;
          font-family: "微软雅黑";
          color: #fff;
          width: 100%;
          height: 100%;
          border: 0;
          cursor: pointer;
        }
      }
      .uploadBtn {
        flex: 0 0 80px;
        min-width: 80px;
        border: 0;
        height: 30px;
        border-radius: 5px;
        background: $mainColor;
        font-family: "微软雅黑";
        color: #fff;
        &.disabled {
          opacity: .65;
          cursor: not-allowed;
        }
      }
    }
    .uploadstate {
      .progress {
        margin: 0 0 10px;
      }
      .uploadsuccess {
        text-align: center;
      }
    }
  }

  .left {
    padding-top: 9%;
    color: #fff;
    p {
      margin: 0
    }
    .p1 {
      font-size: 46px;
    }
    .p2 {
      font-size: 56px;
      a {
        color: #FFFFFF;
        transition: color .3s;
        &:hover {
          color: $mainColor;
        }
      }
    }
    .p3 {
      font-size: 38px;
    }
  }

  .inputInner {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 25px;
    .input-group {
      width: 100%;
      margin-bottom: 27px;
      .help-block {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 12px;
        color: #ff3b30;
        margin: 5px 0 0;
        img {
          vertical-align: middle;
          transform: translateY(-1px);
        }
      }
      .ok-btn {
        width: 100%;
        height: 47px;
        line-height: 47px;
        text-align: center;
        color: #fff;
        padding: 0;
        border: 0;
        font-size: 18px;
        outline: none;
        border-radius: 0;
        background: $mainColor;
      }
    }
    .input-group-addon {
      width: 45px;
      padding: 0;
      border-radius: 0;
      background: transparent;
    }
    input.form-control {
      font-family: Microsoft YaHei;
      font-size: 16px;
      height: 47px;
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #ccc;
      border-left: 0;
      padding-left: 0;
      -webkit-appearance: none;
    }
    .submit-group {
      margin-bottom: 12px;
    }
    .other-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      .remember {
        font-size: 14px;
        color: #888;
        font-weight: normal;
        margin: 0;
        input {
          margin: 0;
          vertical-align: middle;
          transform: translateY(-1px);
        }
      }
      span {
        font-size: 14px;
        color: #888;
        font-weight: normal;
        cursor: pointer;
      }
    }
    .other-login {
      width: 100%;
      text-align: center;
      position: relative;
      .head {
        position: relative;
        z-index: 1;
        font-size: 12px;
        color: #a8a8a8;
        background: #fff;
        display: inline-block;
        padding: 0 8px;
        margin-bottom: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #a8a8a8;
      }
      ul {
        display: flex;
        justify-content: space-around;
        li {
          cursor: pointer;
          p {
            margin-top: 6px;
            font-size: 14px;
          }
        }
      }
    }
    .code {
      position: relative;
      margin-bottom: 40px;
      input {
        font-family: Microsoft YaHei;
        border: 1px solid #ccc;
        width: 100%;
        height: 47px;
        font-size: 16px;
        padding-left: 14px;
        outline: none;
      }
      .code-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 47px;
        font-size: 16px;
        color: $mainColor;
        width: 115px;
        text-align: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        &:disabled {
          cursor: default;
          opacity: .5;
        }
        img {
          height: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          width: 1px;
          height: 30px;
          background: #999;
        }
      }
    }
    .register-tips {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #666666;
      line-height: 1.5;
      span {
        color: $mainColor;
      }
    }
  }

  @media (max-width: 1600px) {
    overflow: auto;
    .main {
      padding-top: 5%;
    }
  }

  @media (max-width: 1200px) {
    background-size: auto 100%;
    overflow: auto;
    padding: 0 10px;
  }

  @media (max-width: 992px) {
    .left {
      text-align: center;
      padding: 0;
      p {
        font-size: 35px !important;
        margin-bottom: 25px;
      }
      .p1, .p2 {
        display: inline-block;
      }
      .p3 {
        display: none;
      }
    }
  }

  @media (max-width: 425px) {
    .inputInner {
      width: 100%;
      padding-bottom: 15px;
    }
    .loginbox .hd li {
      margin: 0 35px;
    }
    .inputInner .input-group {
      margin-bottom: 15px;
    }
    .inputInner .other-group {
      margin-bottom: 15px;
    }
    .loginbox .hd li:after {
      margin-left: 37px;
    }
    .inputInner .input-group .ok-btn {
      font-size: 14px;
    }
    .inputInner input.form-control {
      font-size: 14px;
    }
    .left p {
      font-size: 25px !important;
    }
    .loginbox .hd {
      padding: 25px 0 10px;
    }
    .loginbox .uploadWhitePaper .rightBtn {
      flex: 0 0 100%;
      min-width: 100%;
      margin: 30px 0 0;
    }
    .loginbox .uploadWhitePaper {
      margin: 0 0 40px;
    }
    .loginbox .hd li {
      font-size: 16px;
    }
    .loginbox .hd li:after {
      height: 14px;
    }
  }
}

.loginbox.whitePaper {
  max-width: 1200px;
  border: 2px solid #5c62c4;
  .whitehead {
    margin: -74px auto 0;
    text-align: center;
  }
  .whitePaperTitle {
    margin: -74px 0 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url(../assets/white-headbg.png) center / 100% no-repeat;
      width: 158px;
      height: 12px;
      left: 0;
      right: 0;
      margin: auto;
    }
    p {
      font-size: 30px;
      font-weight: bold;
    }
  }
}
