.project{
	.loading_box{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 0;
		img{
			width: 50px;
		}
	}
	&-topmain{
		position: relative;
		padding: 60px 100px 50px 100px;
		background: url(../assets/project/probanner1.jpg) center / cover no-repeat;
		@media (max-width: 1199px) {
			padding: 30px;
		}
		@media (max-width: 576px) {
			padding: 15px;
		}
		.whitepaper{
			font-size: 20px;
			color: #fff;
			background: $mainColor;
			border-radius: 5px;
			position: absolute;
			top: 60px;
			right: 100px;
			padding: 14px 48px;
			border: 0;
			@media (max-width: 1440px) {
				position: static;
				padding: 6px 16px;
				font-size: 14px;
			}
		}
		.topmaintainer{
			
		}
		.projectTop{
			display: flex;
			margin: 0 0 15px;
			@media (max-width: 768px) {
				flex-direction: column;
			}
			@media (max-width: 576px) {
				margin: 0 0 5px;
			}
			.img-box{
				flex: 0 0 100px;
				min-width: 100px;
				height: 100px;
				border-radius: 10px;
				overflow: hidden;
				margin: 0 25px 0 0;
				@media (max-width: 768px) {
					flex: 0 0 100%;
					min-width: 100%;
					height: 70px;
				}
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					@media (max-width: 768px) {
						object-fit: contain;
					}
				}
			}
			.textRight{
				.title{
					display: flex;
					align-items: center;
					margin: 0 0 25px;
					@media (max-width: 768px) {
						justify-content: center;
						flex-wrap: wrap;
					}
					@media (max-width: 576px) {
						margin: 0 0 15px;
					}
					.atitle{
						font-size: 28px;
						color: #fff;
						margin: 0 25px 0 0;
						@media (max-width: 768px) {
							font-size: 20px;
							text-align: center;
							flex: 0 0 100%;
							min-width: 100%;
							margin: 10px 0;
						}
						@media (max-width: 576px) {
							font-size: 18px;
						}
					}
					.followbtn{
						color: $mainColor;
						background: #fff;
						padding: 6px 12px;
						border-radius: 20px;
						margin: 0 15px 0 0;
						cursor: pointer;
						@media (max-width: 576px) {
							padding: 4px 10px;
						}
						&.on{
							color: #fff;
							background: $mainColor;
						}
						&.share_button{
							position: relative;
							.share_box {
								position: absolute;
								top: calc(100% + 13px);
								left: -50%;
								display: flex;
								background-color: #FFFFFF;
								border-radius: 100px;
								width: 140px;
								display: flex;
								align-items: center;
								justify-content: center;
								&:after {
									content: "";
									left: calc(50% - 10px);
									bottom: 100%;
									position: absolute;
									border-width: 10px;
									border-style: solid;
									border-color: transparent transparent #fff transparent;
								}
								.share_item {
									padding: 5px 6.5px;
									border-radius: 50%;
									.qrCode_box {
										position: absolute;
										width: 100%;
										left: 0;
										top: 100%;
										background-color: #FFFFFF;
										border-radius: 10px;
										padding: 10px;
										img {
											width: 100%;
										}
									}
									> img {
										width: 33px;
									}
								}
							}
						}
					}
				}
				.des{
					font-size: 20px;
					color: #fff;
					margin: 0;
					@media (max-width: 768px) {
						font-size: 18px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					@media (max-width: 576px) {
						font-size: 16px;
					}
				}
			}
		}
		.describe{
			max-width: 1086px;
			@media (max-width: 1440px) {
				max-width: inherit;
			}
			font-size: 14px;
			color: #fff;
			line-height: 2.5;
			margin: 0 0 40px;
			overflow : hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			@media (max-width: 768px) {
				font-size: 14px;
				line-height: 1.6;
				margin: 0 0 15px;
			}
			@media (max-width: 576px) {
				font-size: 12px;
			}
		}
		.hangyeTips{
			margin: 0 0 35px;
			@media (max-width: 768px) {
				margin: 0 0 15px;
			}
			.title{
				font-size: 20px;
				margin: 0 0 15px;
				color: #fff;
				@media (max-width: 768px) {
					font-size: 18px;
					text-align: center;
				}
				@media (max-width: 768px) {
					font-size: 16px;
				}
			}
			ul{
				display: flex;
				@media (max-width: 768px) {
					justify-content: center;
				}
				li{
					background: rgba(57, 145, 209, 0.5);
					display: flex;
					align-items: center;
					text-align: center;
					color: #fff;
					margin: 0 30px 0 0;
					flex-direction: column;
					padding: 12px 18px;
					border-radius: 5px;
					@media (max-width: 768px) {
						margin: 0 15px 0 0;
						padding: 6px 12px;
					}
					@media (max-width: 576px) {
						margin: 0 8px 0 0;
						padding: 5px;
						font-size: 12px;
					}
					&:last-child{
						margin: 0;
					}
					p{
						margin: 0;
					}
					.top{
						font-size: 16px;
						@media (max-width: 768px) {
							font-size: 14px;
						}
					}
					.bottom{
						font-size: 20px;
						@media (max-width: 768px) {
							font-size: 14px;
						}
						span{
							font-size: 24px;
							margin: 0 0 0 12px;
							@media (max-width: 768px) {
								font-size: 16px;
								margin: 0 0 0 5px;
							}
						}
					}
				}
			}
		}
		.projectBottom{
			display: flex;
			flex-flow: wrap;
			width: 100%;
			@media (max-width: 768px) {
				justify-content: center;
				margin: 0;
			}
			li{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 35px 5px 0;
				@media (max-width: 768px) {
					width: 40px;
					height: 40px;
					margin: 0 10px 5px 0;
				}
				// &:last-child{
				// 	margin: 0;
				// }
				a{
					width: 100%;
					height: 100%;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
	&-main{
		padding: 60px 100px 0;
		display: flex;
		@media (max-width: 1200px) {
			padding: 30px 30px 0;
		}
		@media (max-width: 992px) {
			flex-direction: column;
			padding: 15px 15px 0;
		}
		@media (max-width: 576px) {
			padding: 15px 0 0;
		}
		.leftmain{
			width: 72%;
			margin: 0 16px 0 0;
			@media (max-width: 992px) {
				width: 100%;
				margin: 0;
			}
			.tophead{
				border-radius: 5px;
				background: #fff;
				display: flex;
				padding: 30px 0;
				margin: 0 0 30px;
				@media (max-width: 1400px) {
					padding: 15px 0;
				}
				@media (max-width: 768px) {
					flex-wrap: wrap;
				}
				@media (max-width: 576px) {
					padding: 0;
					margin: 0 0 15px;
				}
				.item{
					display: flex;
					flex: 1;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: relative;
					padding: 12px 0;
					&:last-child .t{
						padding: 0 8px;
						text-align: center;
					}
					@media (max-width: 768px) {
						flex: 0 0 50%;
						min-width: 50%;
						padding: 3px 0;
						justify-content: flex-start;
						&:nth-child(2):after{
							background: transparent;
						}
					}
					@media (max-width: 576px) {
						padding: 8px 0;
						&:nth-child(1){
							flex: 0 0 33.33%;
							min-width: 33.33%;
							border: solid #eee;
							border-width: 0 0 1px 0;
						}
						&:nth-child(2){
							flex: 0 0 33.33%;
							min-width: 33.33%;
							border: solid #eee;
							border-width: 0 1px 1px 1px;
						}
						&:nth-child(3){
							flex: 0 0 33.33%;
							min-width: 33.33%;
							border: solid #eee;
							border-width: 0 0 1px 0;
						}
						&:nth-child(4){
							flex: 0 0 100%;
						}
					}
					&.price{
						flex-direction: row;
						color: #444;
						font-size: 24px;
						@media (max-width: 1600px) {
							font-size: 20px;
						}
						@media (max-width: 1400px) {
							flex-direction: column;
							.pt{
								font-size: 18px;
								margin: 0 0 15px;
								@media (max-width: 768px) {
									margin: 0;
									font-size: 16px;
								}
								@media (max-width: 576px) {
									font-size: 14px;
								}
							}
							.pb{
								font-size: 16px;
							}
						}
						img{
							margin: 0 15px;
							@media (max-width: 1400px) {
								width: 25px;
								margin: 0 10px 0 0;
							}
						}
						span{
							font-size: 30px;
							@media (max-width: 1600px) {
								font-size: 20px;
							}
							@media (max-width: 576px) {
								font-size: 16px;
							}
						}
						&.up{
							span{
								color: #08ba07;
								margin: 0 0 0 5px;
							}
						}
					}
					&:after{
						content: "";
						position: absolute;
						right: 0;
						top: 0;
						width: 1px;
						height: 100%;
						background: #e2e2e2;
						@media (max-width: 576px) {
							background: transparent;
						}
					}
					&:last-child:after{
						background: transparent;
					}
					p{
						margin: 0;
					}
					.t{
						font-size: 20px;
						color: #606060;
						margin: 0 0 15px;
						@media (max-width: 1600px) {
							font-size: 18px;
						}
						@media (max-width: 768px) {
							margin: 0;
							font-size: 14px;
						}
					}
					.b{
						font-size: 24px;
						color: #000;
						@media (max-width: 1600px) {
							font-size: 16px;
						}
					}
				}
			}
			.bluesection{
				display: flex;
				align-items: center;
				border-radius: 5px;
				background: #202470;
				margin: 0 0 30px;
				padding: 0 15px;
				@media (max-width: 1200px) {
					flex-direction: column;
				}
				@media (max-width: 576px) {
					margin: 0 0 15px;
				}
				.echartsbox1{
					position: relative;
					flex: 0 0 70%;
					min-width: 70%;
					@media (max-width: 992px) {
						flex: 0 0 100%;
						min-width: 100%;
					}
					.githubLine {
						@media(min-width: 1200px) and (max-width: 1439px) {
							height: 500px !important;
						}
						@media(min-width: 992px) and (max-width: 1199px) {
							height: 400px !important;
						}
						@media(min-width: 768px) and (max-width: 991px) {
							height: 400px !important;
						}
						@media(max-width: 767px) {
							height: 300px !important;
						}
					}
				}
				.details{
					flex: 0 0 30%;
					min-width: 30%;
					margin: 50px 0;
					@media (max-width: 1600px) {
						margin: 30px 0;
					}
					@media (max-width: 1200px) {
						display: flex;
						align-items: flex-start;
						flex-direction: row;
						flex-wrap: wrap;
						padding: 15px 0;
					}
					@media (max-width: 768px) {
						margin: 0;
					}
					.total{
						text-align: center;
						font-size: 30px;
						color: #71cefe;
						margin: 0 0 40px;
						@media (max-width: 1600px) {
							font-size: 24px;
							margin: 0 0 20px;
						}
						@media (max-width: 1200px) {
							flex: 0 0 33.33%;
						}
						@media (max-width: 768px) {
							flex: 0 0 50%;
							font-size: 20px;
						}
						span{
							color: #d6d6d6;
						}
					}
					.item{
						font-size: 16px;
						color: #fff;
						text-align: center;
						margin: 0 0 30px;
						@media (max-width: 1600px) {
							font-size: 14px;
						}
						@media (max-width: 1200px) {
							flex: 0 0 33.33%;
							img{
								height: 20px;
							}
						}
						@media (max-width: 768px) {
							flex: 0 0 50%;
							margin: 0 0 10px;
						}
						p{
							margin: 0 0 10px;
						}
						.des{
							font-size: 12px;
						}
					}
				}
			}
			.echartsbox2{
				border-radius: 5px;
				background: #fff;
				margin: 0 0 30px;
				padding: 30px;
				position: relative;
				@media (max-width: 576px) {
					padding: 15px;
					margin: 0 0 15px;
				}
				.chartbox {
					@media(min-width: 1200px) and (max-width: 1439px) {
						height: 500px !important;
					}
					@media(min-width: 992px) and (max-width: 1199px) {
						height: 400px !important;
					}
					@media(min-width: 768px) and (max-width: 991px) {
						height: 400px !important;
					}
					@media(max-width: 767px) {
						height: 300px !important;
					}
				}
				.btn-list {
					display: flex;
					justify-content: space-around;
					@media(max-width: 767px) {
						flex-direction: column;
						margin-left: 20px;

					}
					label {
						margin: 0;
						cursor: pointer;
						user-select: none;
						@media (max-width: 576px) {
							font-weight: normal;
						}
						.checkbox {
							display: inline-block;
							width: 20px;
							height: 20px;
							border-radius: 2px;
							border: 2px solid #9d9d9d;
							vertical-align: middle;
							margin-right: 10px;
						}
						input {
							display: none;
						}
						input:checked + .checkbox{
							background: url(../assets/project/ok.png) center no-repeat,#3991d1;
							border: 0;
						}
					}
				}

			}
			.section2 {
				padding: 15px;
				background: #f0f0f0;
				margin-bottom: 25px;
				@media (max-width: 576px) {
					padding: 10px 0;
				}
				.section-swiper {
					.swiper-slide {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
					}
					.col4 {
						width: 33.33%;
						@media (max-width: 576px) {
							width: 50%;
						}
					}
					.item {
						margin: auto;
						padding: 20px 0;
						width: 90%;
						text-align: center;
						background: #fff;
						margin-bottom: 20px;
						img {
							width: 90px;
							height: 90px;
							border-radius: 50%;
							margin-bottom: 8px;
						}
						.name {
							font-size: 16px;
							color: #666;
							margin-bottom: 3px;
							@media (max-width: 576px) {
								font-size: 14px;
							}
						}
						.posi {
							font-size: 14px;
							color: #666;
							margin-bottom: 6px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							@media (max-width: 576px) {
								font-size: 12px;
							}
						}
						a {
							color: #fff;
						}
						.i {
							width: 25px;
							height: 25px;
							line-height: 25px;
							border-radius: 50%;
							background: #999;
							color: #fff;
							margin: 0 auto;
							text-align: center;
							font-size: 12px;
							&.on {
								background: #1d2088;
							}
						}
					}
				}
			}
		}
		.rightmain{
			width: 28%;
			@media (max-width: 992px) {
				width: 100%;
				display: flex;
				align-items: flex-start;
				margin: 15px 0 0;
			}
			.advert-swiper {
				margin: 0 0 10px;
				border-radius: 5px;
				overflow: hidden;
				@media (max-width: 992px) {
					display: none;
				}
				.swiper-slide {
					img {
						width: 100%;
					}
				}
				.swiper-button-prev, .swiper-button-next {
					background: transparent;
					width: 50px;
					height: 50px;
					text-align: center;
					left: 0;
					i {
						position: relative;
						z-index: 1;
						color: $black;
						font-size: 26px;
						line-height: 50px;
						transition: .3s;
					}
					&:after {
						position: absolute;
						content: "";
						background: #000;
						opacity: 0;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						transition: .3s;
					}
					&:hover {
						i {
							color: #fff;
						}
						&:after {
							opacity: .3;
						}
					}
				}
				.swiper-button-next {
					left: auto;
					right: 0;
				}
				.swiper-pagination-bullet {
					background: #ababab;
					opacity: 1;
				}
				.swiper-pagination-bullet-active {
					background: #fff;
				}
			}
			.recommendproject{
				width: 100%;
				@media (max-width: 992px) {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
			}
			.recommendhead{
				position: relative;
				height: 50px;
				line-height: 50px;
				font-size: 20px;
				color: #1a1a1a;
				font-weight: 700;
				padding: 0 0 0 15px;
				@media (max-width: 992px) {
					flex: 0 0 100%;
				}
				@media (max-width: 576px) {
					font-size: 14px;
					padding: 0 0 0 30px;
				}
				&:before{
					content: "";
					position: absolute;
					width: 4px;
					height: 26px;
					background: $mainColor;
					left: 0;
					top: 13px;
					@media (max-width: 576px) {
						width: 3px;
						height: 20px;
						top: 15px;
						left: 15px;
					}
				}
			}
			.recommend-item{
				width: 100%;
				height: 200px;
				border-radius: 5px;
				overflow: hidden;
				margin: 0 0 15px;
				background: url(../assets/project/recommend-banner1.jpg) center / cover no-repeat;
				@media (max-width: 1600px) {
					height: 160px;
				}
				@media (max-width: 992px) {
					width: 49%;
				}
				@media(max-width: 767px) {
					height: auto;
					padding: 10px 0;
				}
				@media(max-width: 576px) {
					margin: 0 0 8px;
					border-radius: 0;
				}
				a{
					display: flex;
					align-items: center;
					width: 100%;
					height: 100%;
					@media(max-width: 767px) {
						flex-direction: column;
					}
				}
				.left{
					flex: 0 0 96px;
					min-width: 96px;
					height: 96px;
					border: 2px solid #5f6da8;
					overflow: hidden;
					border-radius: 50%;
					margin: 0 20px;
					@media (max-width: 1600px) {
						flex: 0 0 70px;
						min-width: 70px;
						height: 70px;
						margin: 0 15px;
						width: 50px;
					}
					@media(max-width: 767px) {
						flex: 0 0 50px;
						min-width: 50px;
						height: 50px;
					}
					@media (max-width: 576px) {
						flex: 0 0 70px;
						min-width: 70px;
						height: 70px;
						margin: 0 0 8px;
					}
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.right{
					overflow: hidden;
					margin: 0 15px 0 0;
					@media(max-width: 767px) {
						width: 100%;
						padding: 0 5px;
						margin: 0;
					}
				}
				p{
					margin: 0;
					color: #fff;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.r1{
					font-size: 28px;
					@media (max-width: 1600px) {
						font-size: 25px;
						text-align: center;
					}
					@media (max-width: 576px) {
						font-size: 18px;
					}
				}
				.r2{
					font-size: 18px;
					margin: 10px 0;
					@media (max-width: 1600px) {
						margin: 5px 0;
						font-size: 16px;
						text-align: center;
					}
					@media (max-width: 576px) {
						font-size: 16px;
					}
				}
				.r3{
					font-size: 32px;
					@media (max-width: 1600px) {
						font-size: 25px;
						text-align: center;
					}
					@media (max-width: 576px) {
						font-size: 20px;
					}
				}
			}
		}
	}
	&-projectMainTab{
		position: relative;
		.tabheader{
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 66px;
			border-radius: 5px;
			background: #fff;
			padding: 0 0 0 60px;
			box-shadow: 0 3px 8px 0 rgba(130, 130, 130, 0.2);
			@media (max-width: 1600px) {
				padding: 0 0 0 30px;
			}
			@media (max-width: 768px) {
				overflow: auto;
				padding: 0;
			}
			@media (max-width: 576px) {
				height: 55px;
			}
			.item{
				position: relative;
				font-size: 20px;
				cursor: pointer;
				padding: 0 5px;
				margin: 0 60px 0 0;
				&.on{
					color: $mainColor;
					&:after{
						content: "";
						position: absolute;
						left: 0;
						bottom: -8px;
						width: 100%;
						height: 4px;
						background: $mainColor;
						@media (max-width: 576px) {
							height: 2px;
						}
					}
				}
				&:last-child{
					margin: 0;
				}
				.dropdown-menu{
					min-width: inherit;
					width: 100%;
					text-align: center;
					margin: 20px 0 0;
					li{
						font-size: 14px;
						color: #333;
						&:hover{
							background: #d4e7fd;
						}
						&.on{
							color: $mainColor;
						}
					}
				}
				@media (max-width: 1600px) {
					margin: 0 30px 0 0;
					font-size: 18px;
				}
				@media (max-width: 768px) {
					flex: 0 0 30%;
					text-align: center;
					margin: 0;
					&.btn-group.on:after{
						background: transparent;
					}
					>div{
				    display: none;
					}
					.dropdown-menu{
						position: static;
						display: flex;
						margin: 0;
						box-shadow: none;
						border: 0;
						li{
							position: relative;
							font-size: 18px;
							width: 95px;
							&.on{
								background: transparent;
							}
							&.on:after{
								content: "";
								position: absolute;
								left: 0;
								bottom: -8px;
								width: 100%;
								height: 2px;
								background: #3991d1;
							}
						}
					}
				}
				@media (max-width: 576px) {
					flex: 0 0 22%;
					font-size: 14px;
					.dropdown-menu{
						li{
							font-size: 14px;
							width: 50px;
						}
					}
				}
			}
		}
		.tabcontent{
			.list{
				padding: 15px 0 0;
				background: #fff;
				box-shadow: 0 3px 8px 0 rgba(130, 130, 130, 0.1);
			}
			.echartsbox3{
				position: relative;
				padding: 30px;
				margin: 0 0 30px;
				border-radius: 5px;
				background: #fff;
				@media(max-width: 767px) {
					padding: 10px;
				}
				@media(max-width: 576px) {
					margin: 0 0 15px;
				}
				.chartbox {
					@media(min-width: 1200px) and (max-width: 1439px) {
						height: 500px !important;
					}
					@media(min-width: 992px) and (max-width: 1199px) {
						height: 400px !important;
					}
					@media(min-width: 768px) and (max-width: 991px) {
						height: 400px !important;
					}
					@media(max-width: 767px) {
						height: 300px !important;
					}
				}
				.btn-list {
					display: flex;
					justify-content: center;
					@media(max-width: 767px) {
						flex-direction: column;
						margin-left: 20px;

					}
					label {
						margin: 0;
						cursor: pointer;
						user-select: none;
						@media (max-width: 576px) {
							font-weight: normal;
						}
						&:nth-child(2) {
							@media(min-width: 768px) {
								margin: 0 110px;
							}
						}
						.checkbox {
							display: inline-block;
							width: 20px;
							height: 20px;
							border-radius: 2px;
							border: 2px solid #9d9d9d;
							vertical-align: middle;
							margin-right: 10px;
						}
						input {
							display: none;
						}
						input:checked + .checkbox{
							background: url(../assets/project/ok.png) center no-repeat,#3991d1;
							border: 0;
						}
					}
				}
			}
			.hangqing-total{
				display: flex;
				width: 100%;
				background: #fff;
				padding: 30px 0;
				@media (max-width: 1600px) {
					padding: 15px 0;
				}
				@media (max-width: 767px) {
					flex-direction: column;
					padding: 0;
					background-color: #f5f5f5;
				}
				.item{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					@media (max-width: 1800px) {
						flex-direction: column;
					}
					@media (max-width: 767px) {
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 10px;
						background-color: #fff;
						padding: 8px;
						&:last-child {
							margin-bottom: 0;
						}
					}
					@media (max-width: 576px) {
						padding: 8px 15px;
					}
					&:after{
						content: "";
						position: absolute;
						background: #e2e2e2;
						width: 2px;
						height: 100%;
						top: 0;
						right: 0;
						@media (max-width: 1600px) {
							width: 1px;
						}
						@media (max-width: 767px) {
							width: 0px;
						}
					}
					&:last-child:after{
						background: transparent;
					}
					.left{
						.i1{
							font-size: 20px;
							color: #606060;
							margin: 0 0 15px;
							text-align: center;
							@media (max-width: 1600px) {
								font-size: 18px;
								margin: 0 0 5px;
							}
							@media (max-width: 767px) {
								text-align: left;
							}
							@media (max-width: 576px) {
								font-size: 14px;
							}
						}
						.i2{
							font-size: 24px;
							text-align: center;
							margin: 0;
							@media (max-width: 1600px) {
								font-size: 20px;
								margin: 0;
							}
							@media (max-width: 767px) {
								text-align: left;
							}
							@media (max-width: 576px) {
								font-size: 16px;
							}
						}
					}
					.right{
						font-size: 30px;
						@media (max-width: 1600px) {
							font-size: 25px;
						}
						@media (max-width: 576px) {
							text-align: right;
							font-size: 18px;
						}
						img{
							margin: 0 15px;
							@media (max-width: 1800px) {
								margin: 0 10px 0 0;
								width: 25px;
							}
						}
						span.up{
							color: #08ba07;
						}
					}
				}
			}
			.echartsbox4 {
				position: relative;
				margin-top: 30px;
				@media (max-width: 576px) {
					margin-top: 5px;
				}
				.chartbox {
					@media(min-width: 1200px) and (max-width: 1439px) {
						height: 500px !important;
					}
					@media(min-width: 992px) and (max-width: 1199px) {
						height: 400px !important;
					}
					@media(min-width: 768px) and (max-width: 991px) {
						height: 400px !important;
					}
					@media(max-width: 767px) {
						height: 300px !important;
					}
					.canvas {
						width: 100% !important;
					}
				}
				.control_button {
					display: flex;
					padding: 10px 0 20px;
					&.github_box {
						padding: 10px 15px 20px;
						.control_item {
							flex: inherit;
							margin-right: 15px;
						}
					}
					.control_item {
						flex: 33.33%;
						text-align: center;
						button {
							padding: 8px 10px;
							font-size: 16px;
							font-weight: 400;
							color: #fff;
							line-height: 15px;
							border: none;
							background-color: #BEBEBE;
							border-radius: 3px;
							outline: none;
							@media (max-width: 576px) {
								font-size: 12px;
							}
							&.check {
								background-color: $mainColor;
								box-shadow: 0 0 15px -2px $mainColor;
							}
						}
					}
				}
			}
			.echartsbox5 {
				.chart_box {
					@media(min-width: 1200px) {
						margin-bottom: 50px;
					}
					@media(min-width: 1200px) and (max-width: 1439px) {
						height: 500px !important;
					}
					@media(min-width: 992px) and (max-width: 1199px) {
						height: 400px !important;
					}
					@media(min-width: 768px) and (max-width: 991px) {
						height: 400px !important;
					}
					@media(max-width: 767px) {
						height: 300px !important;
						margin-bottom: 15px;
					}
				}
				.market_box {
					margin: 20px 0;
					@media (max-width: 576px) {
						margin: 15px 0;
						h4{
							font-size: 14px;
							padding: 0 0 0 15px;
						}
					}
					.control_button {
						display: flex;
						padding: 10px 0 20px;
						&.github_box {
							padding: 10px 15px 20px;
							.control_item {
								flex: inherit;
								margin-right: 21px;
							}
						}
						.control_item {
							flex: 33.33%;
							text-align: center;
							button {
								padding: 8px 10px;
								font-size: 11px;
								font-weight: 400;
								color: #fff;
								line-height: 15px;
								border: none;
								background-color: #BEBEBE;
								border-radius: 5px;
								outline: none;
								&.check {
									background-color: #3555da;
									box-shadow: 0 0 15px -2px #3555da;
								}
							}
						}
					}
					.market_data {
						margin-top: 30px;
						padding: 14px 15px 61px;
						position: relative;
						&:before {
							content: " ";
							position: absolute;
							left: 15px;
							top: 0;
							right: 15px;
							height: 1px;
							border-top: 1px solid #D9D9D9;
							color: #D9D9D9;
							-webkit-transform-origin: 0 0;
							transform-origin: 0 0;
							-webkit-transform: scaleY(0.5);
							transform: scaleY(0.5);
						}
						.market_list {
							display: flex;
							justify-content: space-between;
							padding: 6px 0;
							.data_left {
								h4 {
									font-size: 15px;
									font-weight: 400;
									color: #6E6E6E;
									line-height: 21px;
									span {
										font-size: 15px;
										font-weight: 500;
										line-height: 21px;
										&.up {
											color: #47A96A;
											.icon_style {
												// background-image: url("../../assets/project/upp.png");
											}
											.contrast_num {
												color: #47A96A;
											}
										}
										&.down {
											color: #EE6560;
											.icon_style {
												// background-image: url("../../assets/project/down.png");
											}
											.contrast_num {
												color: #EE6560;
											}
										}
										.icon_style {
											margin-left: 6px;
											width: 10px;
											height: 15px;
											position: relative;
											top: 1px;
											display: inline-block;
											background-size: cover;
											background-repeat: no-repeat;
											background-position: center;
										}
									}
								}
							}
							.data_right {
								h4 {
									font-size: 15px;
									font-weight: 500;
									color: #000;
									line-height: 21px;
								}
							}
						}
					}
				}
			}
		}
	}
	&-tab-NewsList{
		.media {
			display: flex;
			margin: 0;
			padding: 15px 18px;
			border-radius: 10px;
			background: #fff;
			overflow: visible;
			position: relative;
			.dropdown {
				position: absolute;
				right: 18px;
				top: 12px;
				z-index: 1;
				button {
					background: transparent !important;
					border: 0;
					padding: 0;
					outline: none;
					box-shadow: none;
					i {
						font-size: 30px;
						color: $black;
					}
				}
			}
			.media-left {
				min-width: 163px;
				height: 163px;
				overflow: hidden;
				padding: 0;
				margin-right: 20px;
				border-radius: 20px;
				img {
					width: 100%;
					object-fit: cover;
					height: 100%;
				}
			}
			.media-body {
				position: relative;
			}
			.media-heading {
				font-size: 18px;
				color: #333;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 80%;
				height: 25px;
				margin: 0 0 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: $mainColor;
				}
			}
			.media-words {
				font-size: 12px;
				color: #333;
				line-height: 1.6;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				height: 58px;
			}
			.media-bottom {
				position: absolute;
				bottom: 0;
				width: 100%;
				ul {
					margin-bottom: 0;
					li {
						display: inline-block;
						font-size: 13px;
						color: #999;
						margin-right: 28px;
						i {
							margin-right: 8px;
						}
						&:last-child {
							margin-right: 0;
						}
						&.love {
							cursor: pointer;
							i {
								color: #ff0000;
							}
						}
					}
				}
				.userimg {
					width: 30px;
					height: 30px;
					padding: 5px;
					border-radius: 50%;
					overflow: hidden;
					display: inline-block;
					vertical-align: middle;
					transform: translateY(-2px);
					margin-right: 5px;
					img {
						width: 100%;
					}
				}
				.tips {
					position: absolute;
					right: 0;
					bottom: 0;
					display: inline-block;
					font-size: 14px;
					border-radius: 6px;
					padding: 1px 10px;
					border: 1px solid $mainColor;
					background: $mainColor;
					color: #fff;
					transition: 0.3s;
					cursor: pointer;
				}
			}
			&:hover {
				.tips {
					background: transparent;
					color: $mainColor;
				}
			}
		}
		.media {
			.media-heading {
				font-size: 20px;
				width: 80%;
				color: #333333;
				margin-bottom: 5px;
			}
			.media-words {
				font-size: 13px;
			}
			border-radius: 6px;
			.media-left {
				min-width: 130px;
				height: 130px;
				.newimg_box {
					height: 100%;
					width: 100%;
					background-color: #797979;
					position: relative;
					img {
						filter: blur(1px);
					}
					.date_box {
						position: absolute;
						left: 0px;
						top: 0px;
						z-index: 11;
						width: 100%;
						height: 100%;
						text-align: center;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						.day {
							display: block;
							font-size: 40px;
							color: #ffffff;
						}
						.years {
							display: block;
							color: #ffffff;
						}
					}
				}
			}
			.media-bottom {
				.userimg {
					width: 25px;
					height: 25px;
					padding: 0px;
				}
				ul {
					> li {
						font-size: 12px;
					}
				}
			}
		}
	}
	&-tab-TwitterOrWeibo{
		.item {
			background: #fff;
			display: flex;
			flex-direction: row;
			padding: 15px 18px;
			.left {
				flex: 0 0 93px;
				height: 93px;
				border-radius: 50%;
				margin-right: 10px;
				&.TorW {
					background-color: #797979;
					border-radius: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					img {
						width: 54px;
						margin-bottom: -10px;
					}
					span {
						font-size: 13px;
						color: #ffffff;
					}
				}
				img {
					width: 100%;
				}
			}
			.right {
				width: 100%;
				.des {
					font-size: 12px;
					color: $black;
					line-height: 1.8;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					margin-bottom: 10px;
					height: 60px;
					cursor: pointer;
					transition: color .3s;
					&:hover {
						color: $mainColor;
					}
				}
				.bottom {
					position: relative;
				}
				.name {
					font-size: 14px;
					color: #666;
					margin-right: 20px;
				}
				.time {
					font-size: 14px;
					color: #666;
				}
				.tips {
					position: absolute;
					right: 0;
					bottom: 0;
					display: inline-block;
					font-size: 14px;
					border-radius: 6px;
					padding: 1px 10px;
					border: 1px solid $mainColor;
					background: $mainColor;
					color: #fff;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					transform: translateY(2px);
					cursor: pointer;
				}
			}
			&.hasdate {
				.left {
					border-radius: 0;
					background: #797979;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					p {
						font-size: 13px;
						color: #fff;
						margin: 0;
						text-align: center;
						&.day {
							font-size: 20px;
							margin-bottom: 6px;
						}
					}
				}
				.right {
					.tit {
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
					}
					.des {
						-webkit-line-clamp: 2;
					}
					.bottom {
						.userinfo {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding-right: 70px;
							.user {
								display: flex;
								align-items: center;
								img {
									width: 18px;
								}
								span {
									font-size: 12px;
									color: #999999;
									margin-left: 5px;
								}
							}
							.usertime {
								font-size: 12px;
								color: #999999;
							}
						}
					}
				}
			}
			&:hover {
				.tips {
					background: transparent;
					color: $mainColor;
				}
			}
		}
	}
	&-tab-projectInfo{
		.infobox{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 30px 0 15px;
			background: #fff;
			box-shadow: 0 3px 8px 0 rgba(130, 130, 130, 0.1);
			.col4 {
				width: 20%;
				padding: 0 15px;
				@media (max-width: 1700px) {
					width: 25%;
				}
				@media (max-width: 1400px) {
					width: 33.33%;
					padding: 0 8px;
				}
				@media (max-width: 767px) {
					width: 50%;
					padding: 0 8px;
				}
				// @media (max-width: 576px) {
				// 	width: 100%;
				// 	padding: 0 8px;
				// }
			}
			.item {
				display: flex;
				align-items: center;
				padding: 15px 0;
				background: #fff;
				border-radius: 5px;
				width: 100%;
				margin-bottom: 15px;
				box-shadow: 0 3px 20px 0 rgba(57, 83, 226, 0.2);
				.left {
					margin: 0 20px;
					@media (max-width: 1200px) {
						margin: 0 10px;
					}
				}
				.tit {
					font-size: 14px;
					color: $black;
					margin-bottom: 8px;
				}
				.time {
					font-size: 16px;
					color: $black;
					margin: 0;
					&.price {
						font-size: 13px;
						margin-bottom: 4px;
					}
				}
			}
		}
	}
}
.echarts_loading{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 60px;
		position: relative;
		z-index: 2;
	}
}