.footer {
  margin-top: 40px;
  background: #000;
  color: #fff;
  .top {
    padding-top: 90px;
    padding-bottom: 40px;
    border-bottom: 1px solid $mainColor;
    .fish_container {
      .flexbox {
        display: flex;
        > ul {
          float: left;
          width: 23%;
          &.logo_box {
            width: 31%;
          }
          > li:first-child {
            font-size: 18px;
            padding-bottom: 15px;
            font-weight: bold;
          }
          > li.apelink_logo {
            position: relative;
            img {
              position: absolute;
              top: -50px;
              left: 20px;
            }
          }
          > li {
            font-size: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-family: "Arial";
            > a {
              color: #ffffff;
              &:hover {
                color: $mainColor;
              }
            }
            > ul {
              > li {
                float: left;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .network {
    li > a > div {
      width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 40px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      &.icon1 {
        background-image: url('../assets/footer/f1.png');
      }
      &.icon2 {
        background-image: url('../assets/footer/f2.png');
      }
      &.icon3 {
        background-image: url('../assets/footer/f3.png');
      }
      &.icon4 {
        background-image: url('../assets/footer/f4.png');
      }
      &.icon5 {
        background-image: url('../assets/footer/f5.png');
      }
      &.icon6 {
        background-image: url('../assets/footer/f6.png');
      }
      &.icon7 {
        background-image: url('../assets/footer/f7.png');
      }
      &.icon8 {
        background-image: url('../assets/footer/f8.png');
      }
      &.icon9 {
        background-image: url('../assets/footer/f9.png');
      }
      &.icon10 {
        background-image: url('../assets/footer/f10.png');
      }
    }
    @media (max-width: 768px) {
      li {
        min-width: 33.33%;
      }
      li > a > div {
        margin-right: 0;
      }
    }
    @media (max-width: 500px) {
      li {
        min-width: 50%;
      }
    }
  }
  @media (max-width: 768px) {
    .top {
      padding-top: 80px;
      padding-bottom: 30px;
      border-bottom: 1px solid $mainColor;
      .fish_container {
        .flexbox {
          flex-wrap: wrap;
          > ul {
            min-width: 50%;
            &.logo_box {
              width: 50%;
            }
            > li {
              font-size: 14px;
              padding-top: 5px;
              padding-bottom: 5px;
              text-align: center;
              font-family: "Arial";
              > a {
                color: #ffffff;
                &:hover {
                  color: $mainColor;
                }
              }
              > ul {
                > li {
                  float: left;
                }
              }
              &:first-child{font-size: 16px;}
            }
            > li.apelink_logo {
              position: relative;
              img {
                position: absolute;
                top: -50px;
                left: calc(50% - 24px);
              }
            }
          }
        }
      }
    }
    .network li > a > div{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}