.header{
	.tophead{
		width: 100%;
		height: 50px;
		line-height: 50px;
		background: #000;
		color: #fff;
		position: relative;
		.container{position: relative;}
		p{
			margin: 0;
			text-align: center;
			font-size: 18px;
		}
		span{
			position: absolute;
			height: 100%;
			top: 0;
			right: 15px;
		}
	}
	.mainhead{
		width: 100%;
		.navbar{
			margin-bottom: 0;
			border: 0;
			border-radius: 0;
			background: #fff;
		}
		.navbar-brand{
			margin: 15px 0 0;
			height: auto;
		}
		.navbar-nav{border: 0;}
		.navbar-nav>li{
			margin: 0 30px;
			&.active{
				a{
					color: $mainColor;
					background: transparent;
					border-bottom: 5px solid $mainColor;
				}
			}
		}
		.navbar-nav>li>a{
			color: $black;
			font-size: 18px;
			padding: 50px 8px 45px;
			border-bottom: 5px solid transparent;
		}
		.navbar-nav.navbar-right{
			margin-top: 15px;
			a{
				background: transparent;
				padding: 0;
				p{
					margin: 5px 0 0;
					font-size: 16px;
					color: $mainColor;
				}
			}
			.user{
				width: 70px;
				height: 70px;
				border-radius: 50%;
				overflow: hidden;
				background: #e2ebf6;
				border: 5px solid #eff4fa;
				margin: 0 auto;
				img{width: 100%;}
			}
			.dropdown-menu{
				min-width: inherit;
				width: 100%;
				top: 110%;
				box-shadow: none;
				background: transparent;
				border: 0;
				a{
					padding: 6px 0;
					text-align: center;
					color: #fff;
					&:hover{background: $mainColor;}
				}
			}
		}
	}
	@media (max-width: 1200px) {
		.mainhead .navbar-nav > li{margin: 0 16px;}
	}
	@media (min-width: 768px) and (max-width: 992px) {
		.navbar-header{
			width: 100%;
			display: flex;
			justify-content: center;
		}
		.navbar-brand{padding: 15px 0 0;}
		.mainhead .navbar-nav.navbar-right{margin-top: 0;}
		.mainhead .navbar-nav > li > a{padding: 40px 8px 35px;}
	}
	@media (max-width: 767px) {
		.mainhead .navbar-brand{
			margin: 0;
			width: 200px;
		}
		.navbar-brand>img{width: 100%;}
		.navbar-toggle{margin-top: 15px;}
		.navbar-collapse{
			position: absolute;
			z-index: 1;
			background: #fff;
			width: 100%;
		}
		.mainhead .navbar-nav > li > a{
			padding: 15px;
			border: 0!important;
			text-align: center;
		}
		.mainhead .navbar-nav.navbar-right .dropdown-menu a{color: $black;}
		.tophead{
			height: 40px;
			line-height: 40px;
		}
	}
}