.header {
  transition: top .3s;
  .navbar-toggle {
    margin-top: 15px;
    &.open_search {
      margin-top: 11px;
      border-radius: 50%;
    }
  }
  &.scroll {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
    top: -50px;
    .mainhead .navbar-nav > li > a {
      padding: 22px 8px 22px;
    }
    .mainhead .navbar-nav.navbar-right a.header_name {
      padding: 0;
    }
    .mainhead .navbar-nav.navbar-right {
      margin-top: 4px;
    }
    .mainhead .navbar-nav.navbar-right a p {
      display: none;
    }
    .mainhead .candyNum{
      display: none;
    }
    .mainhead .navbar-brand {
      margin: -5px 0 0;
    }
    .mainhead .navbar-nav.navbar-right .user {
      width: 60px;
      height: 60px;
    }
    .mainhead .navbar-nav.nav-search {
      margin-top: 0;
      margin-right: 0;
      padding: 12px 0;
      &.gift_box {
        h4 {
          display: none;
        }
      }
    }
    .mainhead .navbar-nav.navbar-right.header_navbar {
      padding: 17px 0;
    }
  }
  .tophead {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
    position: relative;
    .container {
      position: relative;
    }
    p {
      margin: 0;
      text-align: center;
      font-size: 18px;
    }
    span {
      position: absolute;
      top: 8px;
      right: 15px;
      background-color: $mainColor;
      @media (max-width: 768px) {
        top: 3px;
      }
      a{
        color: #fff;
      }
    }
  }
  .mainhead {
    width: 100%;
    .navbar {
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      background: #fff;
      position: relative;
      .bottom_search {
        position: absolute;
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 15px 27px -14px rgba(0, 0, 0, .2);
        z-index: -1;
        top: -20%;
        opacity: 0;
        background-color: #FFFFFF;
        transition: all .5s;
        &.open {
          top: 100%;
          opacity: 1;
        }
        .search_box {
          margin: auto;
          display: flex;
          width: 800px;
          .left {
            flex: 0 0 90px;
            min-width: 90px;
            .dropdown {
              width: 100%;
              .btn-default {
                height: 40px;
                width: 100%;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              .dropdown-backdrop {
                z-index: -1;
              }
            }
            .dropdown-menu {
              width: 100%;
              min-width: 100%;
            }
          }
          .center {
            width: 100%;
            input {
              width: 100%;
              outline: none;
              height: 40px;
              border-right: none;
              border-left: none;
              padding: 0 10px;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
            }
          }
          .right {
            flex: 0 0 80px;
            .search_submit {
              height: 40px;
              border: 1px solid $mainColor;
              background-color: $mainColor;
              transition: all .3s;
              width: 100%;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              outline: none;
              img {
                width: 25px;
              }
              &:hover {
                border: 1px solid #2f76ac;
                background-color: #2f76ac;
              }
            }
          }
        }
      }
    }
    .navbar-brand {
      margin: 15px 0 0;
      margin-left: 0 !important;
      height: auto;
    }
    .navbar-nav {
      border: 0;
      &.nav-search {
        padding: 27px 0;
        margin-right: 10px;
        transition: all .3s;
        &.gift_box {
          padding: 9px 15px;
          text-align: center;
          button {
            background-color: transparent;
            border: none;
            height: 44px;
            width: 44px;
            border-radius: 0;
            outline: none;
            transition: all .3s;
            padding: 0;
            &:hover {
              background-color: transparent;
              border: none;
            }
            img {
              width: 40px;
              animation: Tada 3s both infinite;
            }
          }
          h4 {
            font-size: 14px;
          }
        }
        button {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          height: 44px;
          width: 44px;
          border-radius: 50%;
          outline: none;
          transition: all .3s;
          &:hover {
            background-color: #2d7aaf;
            border: 1px solid #2d7aaf;
          }
          img {
            width: 20px;
          }
        }
      }
    }
    .navbar-nav > li {
      cursor: pointer;
      margin: 0 30px;
      &.active {
        a {
          color: $mainColor;
          background: transparent;
          border-bottom: 5px solid $mainColor;
        }
      }
    }
    .navbar-nav > li > a {
      cursor: pointer;
      color: $black;
      font-size: 18px;
      padding: 50px 8px 45px;
      border-bottom: 5px solid transparent;
    }
    .navbar-nav.navbar-right {
      margin-top: 15px;
      > li {
        margin: 0 10px;
      }
      &.header_navbar {
        padding: 37px 0;
        transition: padding .3s;
        @media (max-width: 767px) {
          padding: 5px 0;
          text-align: center;
        }
      }
      a {
        background: transparent;
        padding: 0;
        p {
          margin: 5px 0 0;
          font-size: 16px;
          color: $mainColor;
        }
      }
      .header_name{
        background: transparent;
        border: 0;
        padding: 0;
        p{
          display: none;
        }
      }
      .user {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        background: #e2ebf6;
        border: 5px solid #eff4fa;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .3s;
        img {
          width: 100%;
        }
      }
      .dropdown-menu {
        min-width: inherit;
        width: 100%;
        top: 100%;
        a {
          padding: 6px;
          text-align: center;
          color: $black;
          &:hover {
            background: $mainColor;
            color: #fff;
          }
        }
        li.active {
          background: transparent;
          a {
            color: $mainColor;
            background: transparent;
          }
        }
      }
    }
    .candyNum{
      font-size: 16px;
      color: $mainColor;
    }
  }
  .fixed_gift_box {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    @media (max-width: 425px) {
      right: 5px;
      bottom: 5px;
    }
    .gift_box_content {
      position: relative;
      text-align: center;
      padding: 10px 10px;
      button {
        background: transparent;
        border: none;
        outline: none;
        img {
          animation: Tada 3s both infinite;
        }
      }
      h4 {
        font-size: 14px;
        margin: 0;
        padding-top: 5px;
        color: #666666;
      }
    }
  }
  @media (max-width: 1200px) {
    .mainhead .navbar-nav > li {
      margin: 0 10px;
    }
  }
  @media (max-width: 992px) {
    .mainhead .navbar .bottom_search .search_box {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar-header {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .navbar-brand {
      padding: 15px 0 0;
    }
    .mainhead .navbar-nav.navbar-right {
      margin-top: 0;
    }
    .mainhead .navbar-nav > li > a {
      padding: 40px 8px 35px;
    }
  }
  @media (max-width: 767px) {
    .mainhead .navbar-nav.nav-search {
      display: none;
    }
    .mainhead .navbar-brand {
      margin: 0;
      width: 170px;
    }
    .navbar-brand > img {
      width: 100%;
    }
    .navbar-toggle {
      margin-top: 15px;
    }
    .navbar-collapse {
      position: absolute;
      z-index: 1;
      background: #fff;
      width: 100%;
    }
    .mainhead .navbar-nav > li > a {
      padding: 15px;
      border: 0 !important;
      text-align: center;
    }
    .mainhead .navbar-nav.navbar-right .dropdown-menu a {
      color: $black;
    }
    .tophead {
      height: 40px;
      line-height: 40px;
    }
    .mainhead .navbar-nav.navbar-right .dropdown-menu {
      box-shadow: none;
      background: transparent;
      border: 0;
      a {
        color: $black;
      }
    }
  }
  @media (max-width: 500px) {
    .mainhead .navbar .bottom_search .search_box .left {
      flex: 0 0 75px;
      min-width: 75px;
    }
    .mainhead .navbar .bottom_search .search_box .right {
      flex: 0 0 50px;
      min-width: 50px;
    }
  }
}

@keyframes Tada {
  0% {
    transform: scale(1) rotate(0);
  }

  70%, 73% {
    transform: scale(1) rotate(0deg);
  }

  77%, 83%, 90%, 97% {
    transform: scale(1.1) rotate(3deg);
  }

  80%, 87%, 93% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.v2header{
  transition: top .3s;
  &.pinned {top: 0;}
  &.unpinned {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
    top: -36px;
    @media ($max-sm) {
      top: -60px;
    }
    .navbar{
      background: #212831;
      height: 66px;
    }
    .nav.navbar-nav>li>a{
      padding: 23px 0;
      @media ($max-sm) {
        padding: 8px 0;
      }
      &:after{
        bottom: 14px;
      }
    }
    .search-box{
      margin: 14px 25px 0 0;
    }
    .nav.navbar-nav .header-btn{
      padding: 9px 23px;
      @media ($min-sm) and ($max-md) {
        padding: 5px 10px;
        font-size: 13px;
      }
    }
    .navbar-brand{
      padding: 12px 0 0 15px;
    }
  }
  .tophead{
    position: relative;
    z-index: 3;
    height: 36px;
    background: #030303;
    overflow: hidden;
    @media ($max-sm) {
      height: 60px;
    }
    .container{
      height: 100%;
      .flexbox{
        height: 100%;
        display: flex;
        justify-content: space-between;
        @media ($max-sm) {
          align-items: center;
        }
      }
    }
    ul{
      display: flex;
      height: 100%;
      align-items: center;
      @media ($max-sm) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
      }
      li{
        font-size: 14px;
        color: #fff;
        margin: 0 125px 0 0;
        @media ($max-md) {
          margin: 0 50px 0 0;
        }
        @media ($max-sm) {
          margin: 0;
          font-size: 14px;
          // &:nth-child(2){
          //   margin: 0 30px;
          // }
        }
        @media ($max-xs) {
          font-size: 12px;
          // display: flex;
          // flex-direction: column;
          // &:nth-child(2){
          //   margin: 0;
          // }
        }
        &:last-child{
          margin: 0;
        }
        span:last-child{
          font-size: 16px;
          font-weight: bold;
          @media ($max-sm) {
            font-size: 14px;
          }
          @media ($max-xs) {
            font-size: 12px;
          }
        }
      }
    }
    .appdownload{
      float: right;
      display: flex;
      height: 100%;
      align-items: center;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      margin: 0 0 0 15px;
      white-space: nowrap;
      @media ($max-xs) {
        font-size: 12px;
        position: absolute;
        right: 15px;
      }
      img{
        margin: 0 10px 0 0;
        vertical-align: middle;
        transform: translateY(-1px);
        @media ($max-xs) {
          margin: 0 5px 0 0;
        }
      }
      a{
        color: #fff;
      }
      span{
        white-space: nowrap;
      }
      .rookie{
        margin: 0 16px 0 0;
        @media ($max-sm) {
          display: none;
        }
      }
    }
  }
  .navbar{
    height: 80px;
    background: transparent;
    border: 0;
    margin: 0;
    border-radius: 0;
    transition: .3s;
    @media ($max-sm) {
      height: 60px;
      .navbar-header{
        height: 60px;
        // background: #212831;
      }
    }
    &.hasbg{
      background: #212831;
    }
  }
  .navbar-brand{
    height: auto;
    padding: 19px 0 0 15px;
    margin: 0 43px 0 0;
    @media ($max-md) {
      margin: 0 30px 0 0;
    }
    @media ($min-sm) and ($max-md) {
      width: 60px;
      overflow: hidden;
    }
    @media ($max-sm) {
      padding: 8px 0 0 15px;
      margin: 0;
    }
    @media ($max-xs) {
      width: 60px;
      overflow: hidden;
    }
  }
  .nav.navbar-nav{
    @media ($max-sm) {
      display: block;
      margin: 10px 0 0 0;
    }
    >li{
      margin: 0 30px 0 0;
      @media ($max-md) {
        margin: 0 20px 0 0;
      }
      @media ($max-sm) {
        margin: 0;
        padding: 0 15px;
      }
      &:last-child{
        margin: 0;
      }
      >a{
        position: relative;
        padding: 30px 0;
        background: transparent !important;
        color: #c8cbce;
        font-size: 16px;
        cursor: pointer;
        transition: .3s;
        @media ($min-sm) and ($max-md) {
          font-size: 13px;
        }
        @media ($max-sm) {
          padding: 8px 0;
          color: #aaa;
          text-align: center;
        }
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          background: transparent;
          left: 0;
          bottom: 20px;
          border-radius: 10px;
          transition: .3s;
        }
        &:hover{
          background: transparent;
          color: #fff;
          @media ($max-sm) {
            background: transparent;
          }
        }
      }
      &.active a{
        color: #fff;
        &:after{
          background: #fff;
          @media ($max-sm) {
            background: transparent;
            position: static;
          }
        }
      }
    }
    .header-btn{
      padding: 9px 23px;
      border-radius: 5px;
      border: 1px solid #fff;
      font-size: 16px;
      color: #fff;
      background: transparent;
      margin: 0 0 0 26px;
      transition: .3s;
      @media ($max-md) {
        padding: 8px 16px;
      }
      @media ($min-sm) and ($max-md) {
        padding: 5px 10px;
        font-size: 13px;
      }
      &:hover{
        background: #fff !important;
        color: #1a1a1a;
      }
      &.blue{
        background: $mainColor !important;
        border-color: $mainColor;
        margin: 0 0 0 10px;
        color: #fff;
        // &:hover{
        //   background: #4363e8 !important;
        // }
      }
    }
    .htips{
      position: absolute;
      width: 50px;
      height: 30px;
      background: url(../assets/htips.png) center / cover no-repeat;
      font-size: 12px;
      color: #fff;
      text-align: center;
      line-height: 1.5;
      right: -51px;
      top: -3px;
      cursor: pointer;
    }
    &.navbar-right{
      display: flex;
      align-items: center;
      @media ($max-sm) {
        display: block;
        margin: 0 0 10px 0;
      }
      >li{
        margin: 0;
        position: relative;
        &.header-token{
          margin: 0 0 0 30px;
        }
        &.hsearch {
          @media ($min-lg) {
            display: none;
          }
          @media ($max-sm) {
            display: none;
          }
          .open_search{
            cursor: pointer;
            img{
              width: 23px;
              @media ($min-sm) and ($max-md) {
                width: 18px;
              }
            }
          }
        }
        &.sbs-btn{
          justify-content: center;
          padding: 8px 0;
          .header-btn{
            margin: 0 5px;
          }
          @media ($max-sm) {
            display: flex !important;
          }
        }
        .hicon{
          position: relative;
          cursor: pointer;
          .remind-num{
            position: absolute;
            z-index: 1;
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            border-radius: 30px;
            background: #fc502e;
            color: #fff;
            font-size: 12px;
            right: -10px;
            top: -10px;
          }
        }
        .icon-htips{
          top: -12px;
          cursor: pointer;
        }
      }
      .header_user{
        margin-left: 26px;
      }
      // .header_userimg{
      //   background: transparent;
      //   border: 0;
      //   padding: 0;
      //   p{
      //     display: none;
      //   }
      // }
      // .user {
      //   width: 50px;
      //   height: 50px;
      //   border-radius: 50%;
      //   overflow: hidden;
      //   background: #e2ebf6;
      //   border: 5px solid #eff4fa;
      //   margin: 0 auto;
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   background-size: cover;
      //   transition: all .3s;
      //   img {
      //     width: 100%;
      //   }
      // }
    }
  }
  .header-dropdown-menu{
    // min-width: inherit;
    width: 270px;
    top: calc(100% + 15px);
    padding: 0 15px;
    // left: auto;
    // right: 50%;
    // margin: 0 -40px 0 0;
    @media ($max-sm) {
      width: 240px;
      top: calc(100% + 5px);
    }
    &:before{
      border: 6px solid transparent;
      content: "";
      position: absolute;
      border-bottom-color: #fff;
      top: -12px;
      right: 9px;
      @media ($max-sm) {
        right: 12px;
      }
    }
    .userflex{
      display: flex;
      align-items: center;
      // justify-content: center;
      padding: 20px 0;
      .left{
        font-size: 18px;
        color: #1a1a1a;
        font-weight: bold;
        flex: 0 0 63%;
        text-align: center;
        padding: 0 15px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media ($max-sm) {
          font-size: 14px;
        }
      }
      .right{
        p{
          font-size: 18px;
          color: #1a1a1a;
          text-align: center;
          margin: 0;
          @media ($max-sm) {
            font-size: 14px;
          }
        }
        .candyNum{
          font-weight: bold;
          color: #fc9526;
        }
      }
    }
    a {
      text-align: center;
      color: $black;
      font-size: 16px;
      padding: 16px 0;
      @media ($max-sm) {
        font-size: 14px;
        padding: 12px 0;
      }
      &:hover {
        color: $mainColor;
      }
    }
    li{
      border-bottom: 1px solid #d4d4d4;
      &:last-child{
        border: 0;
        a{
          font-weight: bold;
        }
      }
    }
    li.active {
      background: transparent;
      a {
        color: $mainColor;
        background: transparent;
      }
    }
  }
  .search-box{
    display: flex;
    float: right;
    margin: 20px 25px 0 0;
    width: 320px;
    background: #d3d4d6;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
    @media ($max-lg) {
      display: none;
    }
    @media (max-width: 1329px) {
      width: 220px;
    }
    .left {
      flex: 0 0 90px;
      min-width: 90px;
      .dropdown {
        width: 100%;
        .btn-default {
          height: 38px;
          width: 100%;
          border-radius: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .dropdown-backdrop {
          z-index: -1;
        }
      }
      .dropdown-menu {
        width: 100%;
        min-width: 100%;
      }
    }
    .center {
      width: 100%;
      input {
        width: 100%;
        outline: none;
        height: 38px;
        border: 0;
        padding: 0 0 0 16px;
        background: transparent;
        font-size: 16px;
        @media ($max-sm) {
          height: 40px;
          font-size: 14px;
        }
        &::-webkit-input-placeholder{
          color: #434343;
        }
        &::-moz-placeholder{
          color: #434343;
        }
        &:-moz-placeholder{
          color: #434343;
        }
        &:-ms-input-placeholder{
          color: #434343;
        }
      }
    }
    .right {
      flex: 0 0 50px;
      background: transparent;
      .search_submit {
        height: 38px;
        transition: all .3s;
        width: 100%;
        outline: none;
        background: transparent;
        border: 0;
        @media ($max-sm) {
          height: 40px;
        }
      }
    }
  }
  .out-search-box{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 0;
    opacity: 1;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    background: #212831;
    transition: .3s;
    @media ($min-lg) {
      display: none;
    }
    .center{
      input{
        padding: 0 10px 0 0;
      }
    }
    .container{
      display: flex;
      @media ($min-sm) {
        margin: 15px auto;
        justify-content: center;
      }
      @media ($max-sm) {
        width: 100%;
        margin: 10px 0;
      }
    }
    .search-box{
      display: flex;
      max-width: 800px;
      width: 100%;
      float: none;
      margin: 0;
      @media ($min-sm) {
        margin: 0 15px 0 0;
      }
    }
    .close-search{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
      padding: 0 0 0 15px;
      @media ($min-sm) {
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        padding: 0 15px;
      }
    }
  }
  .navbar-toggle{
    // border-color: #e4e4e4;
    border: 0;
    @media ($max-sm) {
      margin-top: 13px;
    }
    .icon-bar{
      background-color: #e4e4e4;
    }
    &:focus, &:hover{
      background-color: transparent;
      .icon-bar{
        background-color: #e4e4e4;
      }
    }
    // &:active{
    //   background-color: #e4e4e4;
    //   .icon-bar{
    //     background-color: #212831;
    //   }
    // }
    &:active{
      background: transparent;
    }
  }
  .navbar-header-search{
    float: right;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    @media ($max-xs) {
      margin-right: 0;
    }
    &:active{
      background-color: transparent;
    }
    img{
      width: 18px;
    }
  }
  .navbar-header-user,
  .navbar-header-remind{
    margin: 10px 15px 0 0;
    position: relative;
    @media ($max-xs) {
      margin-right: 0;
    }
    img{
      width: 18px;
    }
    .remind-num{
      position: absolute;
      z-index: 1;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      border-radius: 30px;
      background: #fc502e;
      color: #fff;
      font-size: 12px;
      right: 0;
      top: 0;
    }
  }
  .navbar-header-user{
    margin: 9px 15px 0 0;
    @media ($max-xs) {
      margin-right: 0;
    }
    img{
      width: 20px;
    }
    .header-dropdown-menu{
      left: auto;
      right: 0;
    }
  }
  .navbar-header-btn{
    margin: 10px 15px 0 0;
    position: relative;
    // border: 1px solid #e4e4e4;
    color: #e4e4e4;
    @media ($max-xs) {
      margin-right: 0;
    }
  }
  .navbar-collapse{
    // background: #212831;
    border: 0;
    @media ($max-sm) {
      background: #212831;
    }
  }
  .language{
    margin: 0 0 0 50px !important;
    @media ($min-sm) and ($max-md) {
      margin: 0 0 0 55px !important;
    }
    @media ($max-sm) {
      margin: 0 auto !important;
      width: 110px;
    }
    .layui-form-select{
      .layui-input{
        width: 50px;
        background: transparent;
        color: #fff;
        border: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px 0 0;
        overflow: hidden;
        @media ($min-sm) and ($max-md) {
          font-size: 13px;
        }
        @media ($max-sm) {
          width: 100%;
        }
      }
      .layui-edge{
        border-top-color: #fff;
        right: 0;
      }
      dl dd.layui-this{
        background-color: $mainColor;
      }
    }
    .layui-form-selected dl{
      left: auto;
      right: 0;
      @media ($max-sm) {
        top: auto;
        bottom: 100%;
        margin: 0px;
      }
    }
  }
}