.header {
  transition: top .3s;
  .navbar-toggle {
    margin-top: 15px;
    &.open_search {
      margin-top: 11px;
      border-radius: 50%;
    }
  }
  &.scroll {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2);
    top: -50px;
    .mainhead .navbar-nav > li > a {
      padding: 22px 8px 22px;
    }
    .mainhead .navbar-nav.navbar-right a.header_name {
      padding: 0;
    }
    .mainhead .navbar-nav.navbar-right {
      margin-top: 4px;
    }
    .mainhead .navbar-nav.navbar-right a p {
      display: none;
    }
    .mainhead .navbar-brand {
      margin: -5px 0 0;
    }
    .mainhead .navbar-nav.navbar-right .user {
      width: 60px;
      height: 60px;
    }
    .mainhead .navbar-nav.nav-search {
      margin-top: 0;
      margin-right: 0;
      padding: 12px 0;
    }
    .mainhead .navbar-nav.navbar-right.header_navbar {
      padding: 17px 0;
    }
  }
  .tophead {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
    position: relative;
    .container {
      position: relative;
    }
    p {
      margin: 0;
      text-align: center;
      font-size: 18px;
    }
    span {
      position: absolute;
      height: 100%;
      top: 0;
      right: 15px;
    }
  }
  .mainhead {
    width: 100%;
    .navbar {
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      background: #fff;
      position: relative;
      .bottom_search {
        position: absolute;
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 15px 27px -14px rgba(0, 0, 0, .2);
        z-index: -1;
        top: -20%;
        opacity: 0;
        background-color: #FFFFFF;
        transition: all .5s;
        &.open {
          top: 100%;
          opacity: 1;
        }
        .search_box {
          margin: auto;
          display: flex;
          width: 800px;
          .left {
            flex: 0 0 90px;
            min-width: 90px;
            .dropdown {
              width: 100%;
              .btn-default {
                height: 40px;
                width: 100%;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              .dropdown-backdrop {
                z-index: -1;
              }
            }
            .dropdown-menu {
              width: 100%;
              min-width: 100%;
            }
          }
          .center {
            width: 100%;
            input {
              width: 100%;
              outline: none;
              height: 40px;
              border-right: none;
              border-left: none;
              padding: 0 10px;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
            }
          }
          .right {
            flex: 0 0 80px;
            .search_submit {
              height: 40px;
              border: 1px solid $mainColor;
              background-color: $mainColor;
              transition: all .3s;
              width: 100%;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              outline: none;
              img {
                width: 25px;
              }
              &:hover {
                border: 1px solid #2f76ac;
                background-color: #2f76ac;
              }
            }
          }
        }
      }
    }
    .navbar-brand {
      margin: 15px 0 0;
      margin-left: 0 !important;
      height: auto;
    }
    .navbar-nav {
      border: 0;
      &.nav-search {
        padding: 27px 0;
        margin-right: 10px;
        transition: all .3s;
        button {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          height: 44px;
          width: 44px;
          border-radius: 50%;
          outline: none;
          transition: all .3s;
          &:hover {
            background-color: #2d7aaf;
            border: 1px solid #2d7aaf;
          }
          img {
            width: 20px;
          }
        }
      }
    }
    .navbar-nav > li {
      cursor: pointer;
      margin: 0 30px;
      &.active {
        a {
          color: $mainColor;
          background: transparent;
          border-bottom: 5px solid $mainColor;
        }
      }
    }
    .navbar-nav > li > a {
      cursor: pointer;
      color: $black;
      font-size: 18px;
      padding: 50px 8px 45px;
      border-bottom: 5px solid transparent;
    }
    .navbar-nav.navbar-right {
      margin-top: 15px;
      &.header_navbar {
        padding: 37px 0;
        transition: padding .3s;
        @media (max-width: 767px) {
          padding: 5px 0;
          text-align: center;
        }
      }
      a {
        background: transparent;
        padding: 0;
        p {
          margin: 5px 0 0;
          font-size: 16px;
          color: $mainColor;
        }
      }
      .user {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        background: #e2ebf6;
        border: 5px solid #eff4fa;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .3s;
        img {
          width: 100%;
        }
      }
      .dropdown-menu {
        min-width: inherit;
        width: 100%;
        top: 110%;
        a {
          padding: 6px 0;
          text-align: center;
          color: $black;
          &:hover {
            background: $mainColor;
            color: #fff;
          }
        }
        li.active {
          background: transparent;
          a {
            color: $mainColor;
            background: transparent;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .mainhead .navbar-nav > li {
      margin: 0 16px;
    }
  }
  @media (max-width: 992px) {
    .mainhead .navbar .bottom_search .search_box {
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar-header {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .navbar-brand {
      padding: 15px 0 0;
    }
    .mainhead .navbar-nav.navbar-right {
      margin-top: 0;
    }
    .mainhead .navbar-nav > li > a {
      padding: 40px 8px 35px;
    }
  }
  @media (max-width: 767px) {
    .mainhead .navbar-nav.nav-search {
      display: none;
    }
    .mainhead .navbar-brand {
      margin: 0;
      width: 200px;
    }
    .navbar-brand > img {
      width: 100%;
    }
    .navbar-toggle {
      margin-top: 15px;
    }
    .navbar-collapse {
      position: absolute;
      z-index: 1;
      background: #fff;
      width: 100%;
    }
    .mainhead .navbar-nav > li > a {
      padding: 15px;
      border: 0 !important;
      text-align: center;
    }
    .mainhead .navbar-nav.navbar-right .dropdown-menu a {
      color: $black;
    }
    .tophead {
      height: 40px;
      line-height: 40px;
    }
    .mainhead .navbar-nav.navbar-right .dropdown-menu {
      box-shadow: none;
      background: transparent;
      border: 0;
      a {
        color: $black;
      }
    }
  }
  @media (max-width: 500px) {
    .mainhead .navbar .bottom_search .search_box .left {
      flex: 0 0 75px;
      min-width: 75px;
    }
    .mainhead .navbar .bottom_search .search_box .right {
      flex: 0 0 50px;
      min-width: 50px;
    }
  }
}
