#tips_empl {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .8);
  padding: 15px 20px;
  min-width: 200px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  p {
    margin: 0px;
  }
}
